@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=check,chevron_left,chevron_right,close,content_copy,keyboard_arrow_down,keyboard_arrow_right,keyboard_arrow_up,pause,play_arrow,search,select_to_speak,volume_up");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Western:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: rgb(242, 242, 247);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(54, 54, 57);
  }
}

a {
  color: rgb(45.9, 117.3, 209.1);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: rgb(133, 177, 255);
  }
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(122.2, 73.6, 193.4);
}
@media (prefers-color-scheme: dark) {
  a:visited {
    color: rgb(186, 159, 239);
  }
}
a:active {
  color: orange;
}
@media (prefers-color-scheme: dark) {
  a:active {
    color: rgb(188, 90, 0);
  }
}

#created-by-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #created-by-container {
    color: rgb(221, 221, 232);
  }
}

#backlink-promotion-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #backlink-promotion-container {
    color: rgb(221, 221, 232);
  }
}

#rand-sentence-ref {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #rand-sentence-ref {
    color: rgb(221, 221, 232);
  }
}

#syrc-error-msg {
  color: rgb(244.4285714286, 109.7857142857, 2.0714285714);
}
@media (prefers-color-scheme: dark) {
  #syrc-error-msg {
    color: #fd7b13;
  }
}

#syrc,
#rand-sentence-caption,
#syrc-btn-group,
#latin-btn-group,
#latin {
  background-color: #fff;
}
@media (prefers-color-scheme: dark) {
  #syrc,
  #rand-sentence-caption,
  #syrc-btn-group,
  #latin-btn-group,
  #latin {
    background-color: rgb(28, 28, 30);
  }
}

#rand-sentence-caption {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #rand-sentence-caption {
    color: rgb(221, 221, 232);
  }
}

#syrc-btn-group {
  border-color: rgba(91, 91, 96, 0.29);
}
@media (prefers-color-scheme: dark) {
  #syrc-btn-group {
    border-color: rgba(119, 119, 127, 0.6);
  }
}
#syrc-btn-group button {
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  #syrc-btn-group button {
    color: rgb(28, 28, 30);
  }
}
@media (hover: hover) and (pointer: fine) {
  #syrc-btn-group button:hover {
    background-color: rgb(229.2571428571, 102.9714285714, 1.9428571429);
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  #syrc-btn-group button:hover {
    background-color: rgb(253.3428571429, 145.6285714286, 59.4571428571);
  }
}
#syrc-btn-group button:active {
  background-color: rgb(207.0057142857, 92.9771428571, 1.7542857143);
}
@media (prefers-color-scheme: dark) {
  #syrc-btn-group button:active {
    background-color: rgb(253.5314285714, 158.0742857143, 81.7085714286);
  }
}
#syrc-btn-group button:disabled {
  background-color: rgba(253, 123, 19, 0.65);
}
@media (prefers-color-scheme: dark) {
  #syrc-btn-group button:disabled {
    background-color: rgba(253, 123, 19, 0.4);
  }
}

#latin-btn-group button {
  background-color: rgb(242, 242, 247);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #latin-btn-group button {
    background-color: rgb(54, 54, 57);
    color: rgb(221, 221, 232);
  }
}
#latin-btn-group button:hover {
  background-color: rgb(223.0571428571, 223.0571428571, 235.3428571429);
}
@media (prefers-color-scheme: dark) {
  #latin-btn-group button:hover {
    background-color: rgb(68.8864864865, 68.8864864865, 72.7135135135);
  }
}
#latin-btn-group button:active {
  background-color: rgb(210.4285714286, 210.4285714286, 227.5714285714);
}
@media (prefers-color-scheme: dark) {
  #latin-btn-group button:active {
    background-color: rgb(78.8108108108, 78.8108108108, 83.1891891892);
  }
}
#latin-btn-group button.active {
  background-color: rgb(28, 28, 30);
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  #latin-btn-group button.active {
    background-color: rgb(242, 242, 247);
    color: rgb(28, 28, 30);
  }
}

#syrc,
#latin {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #syrc,
  #latin {
    color: rgb(221, 221, 232);
  }
}

#latin:empty:not(:focus)::before {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #latin:empty:not(:focus)::before {
    color: rgb(221, 221, 232);
  }
}

.bottom-mark {
  background-color: rgba(253, 123, 19, 0.05);
  border: 2px dotted rgba(253, 123, 19, 0.7);
}
@media (prefers-color-scheme: dark) {
  .bottom-mark {
    background-color: rgba(253, 123, 19, 0.2);
    border: 2px dotted rgba(253, 123, 19, 0.6);
  }
}

.top-mark {
  background-color: rgba(30, 144, 255, 0.05);
  border: 2px dotted rgba(30, 144, 255, 0.7);
}
@media (prefers-color-scheme: dark) {
  .top-mark {
    background-color: rgba(30, 144, 255, 0.2);
    border: 2px dotted rgba(30, 144, 255, 0.6);
  }
}

.other-mark {
  background-color: rgba(255, 20, 147, 0.05);
  border: 2px dotted rgba(255, 20, 147, 0.7);
}
@media (prefers-color-scheme: dark) {
  .other-mark {
    background-color: rgba(255, 20, 147, 0.2);
    border: 2px dotted rgba(255, 20, 147, 0.6);
  }
}

#aii-bottom-mark-caption,
#aii-top-mark-caption,
#aii-other-mark-caption,
#tru-top-mark-caption,
#tru-other-mark-caption {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #aii-bottom-mark-caption,
  #aii-top-mark-caption,
  #aii-other-mark-caption,
  #tru-top-mark-caption,
  #tru-other-mark-caption {
    color: rgb(221, 221, 232);
  }
}

#aii-orthography,
#tru-orthography {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #aii-orthography,
  #tru-orthography {
    color: rgb(221, 221, 232);
  }
}

#clear-text,
#copy-text {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #clear-text,
  #copy-text {
    color: rgb(149, 149, 157);
  }
}

body {
  margin: 0 auto 50px;
  max-width: 768px;
}

#title {
  -webkit-text-stroke-color: #fd7b13;
  -webkit-text-stroke-width: 3px;
  color: transparent;
  direction: rtl;
  font-family: "Noto Sans Syriac";
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #title {
    -webkit-text-stroke-width: 0.390625vw;
    font-size: 11.71875vw;
    margin-top: 6.5104166667vw;
  }
}
@media screen and (max-width: 480px) {
  #title {
    -webkit-text-stroke-width: 0.5208333333vw;
  }
}

#subtitle {
  color: #fd7b13;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-top: -18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #subtitle {
    font-size: calc(12px + 2.6041666667vw);
    margin-top: -2.34375vw;
  }
}
@media screen and (max-width: 480px) {
  #subtitle {
    font-weight: 400;
  }
}

.webapp-backlink-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.webapp-backlink-href {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.creator-backlink-href {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  text-decoration: underline;
}

#syrc-status-container {
  display: flex;
  padding: 6px 16px;
}

#rand-sentence-ref,
#syrc-error-msg {
  flex: 1 1 auto;
}
#rand-sentence-ref:empty::after,
#syrc-error-msg:empty::after {
  content: "​";
}

#rand-sentence-ref {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-align: left;
}

#syrc-error-msg {
  font-weight: 500;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-align: right;
}

#aii-typo-caption,
#tru-typo-caption {
  padding: 8px 16px;
}

#rand-sentence-caption {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 0 16px 6px;
}

.btn-group {
  column-gap: 6px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

#roll-dice-aii .writing-system {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 500;
  line-height: 1.4;
  font-size: 19.6px;
}

#roll-dice-tru .writing-system {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 500;
  line-height: 1.4;
  font-size: 19.6px;
  font-family: "Noto Sans Syriac Western";
}

#syrc-btn-group {
  align-items: flex-end;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-direction: row;
  padding: 0 16px 16px;
}
#syrc-btn-group button {
  background-color: #fd7b13;
  padding: 6px 10px;
}
#syrc-btn-group button:disabled {
  pointer-events: none;
}

#latin-btn-group {
  flex-direction: row-reverse;
  padding: 16px;
}
#latin-btn-group button {
  padding: 10px 16px;
}
#latin-btn-group button.active {
  cursor: default;
}

.btn {
  font-weight: 500;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: color 0.1s, background-color 0.1s;
}

#syrc,
#latin {
  resize: none;
}
#syrc:focus,
#latin:focus {
  outline: none;
}

#syrc {
  min-height: 126px;
}

#latin {
  min-height: 110px;
}

#syrc {
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  padding: 16px 16px 16px 48px;
  vertical-align: top;
  width: 100%;
}
@media screen and (width > 768px) {
  #syrc {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

.syrc-text {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 30.8px;
}
.syrc-text.suryoyo {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 30.8px;
  font-family: "Noto Sans Syriac Western";
}

#syrc-dialect {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-left: auto;
}

#latin {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 22px;
  font-family: sans-serif;
  overflow-wrap: break-word;
  padding: 0 48px 16px 16px;
  white-space: pre-wrap;
}
#latin:empty:not(:focus)::before {
  content: attr(data-placeholder);
  font-style: normal;
}
@media screen and (width > 768px) {
  #latin {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

#aii-typo-caption ul,
#tru-typo-caption ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.typo-circle,
.typo-small-circle {
  border-radius: 50%;
}

.typo-circle::before,
.typo-circle::after,
.typo-small-circle::before,
.typo-small-circle::after {
  content: "‌";
}

.typo-circle::before {
  padding-left: 5px;
}

.typo-circle::after {
  padding-right: 5px;
}

.typo-small-circle::before {
  padding-left: 4px;
}

.typo-small-circle::after {
  padding-right: 4px;
}

#aii-typo-caption,
#tru-typo-caption {
  display: none;
}

#aii-bottom-mark-caption,
#aii-top-mark-caption,
#aii-other-mark-caption,
#tru-top-mark-caption,
#tru-other-mark-caption {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

#aii-orthography,
#tru-orthography {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: none;
  padding: 8px 16px;
}

#syrc-container,
#latin-container {
  position: relative;
}

#clear-text,
#copy-text {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 12px;
  position: absolute;
}

#clear-text {
  left: 0;
  top: 0;
}

#copy-text {
  bottom: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
