@use 'sass:color'
@use 'sass:list'
// sass-lint:disable no-ids
// sass-lint:disable force-pseudo-nesting
// sass-lint:disable no-mergeable-selectors
// sass-lint:disable no-vendor-prefixes

@use '../../shared_sass/colors' as *
@use '../../shared_sass/mixins' as *
@use '../../shared_sass/mixins_bible' as *
@use '../../shared_sass/styles' as *
@use '../../shared_sass/symbols' as *
@use '../../shared_sass/searchapp_mixin' as *

$key-color: rgb(240, 0, 0)
$max-width: 600px
$side-padding: 16px
$searchbar-inset-x: 20px
$close-x: 0
$button-padding: 12px

@include search-app($key-color, $max-width, $side-padding, $button-padding, $searchbar-inset-x, $close-x)

#search-results
  padding: 16px $side-padding

.aii-verse,
.aii-tr,
.eng-verse,
.translation-caption
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark


.search-result
  padding-top: $side-padding
  // background-color: lightgray

.verse-meta
  @include aii-text('m')
  margin-bottom: 0
  margin-top: 16px
  text-align: right

.highlighted
  color: $key-color
  @media (prefers-color-scheme: dark)
    color: color.adjust($key-color, $lightness: 10%)
  font-weight: 500
  // font-weight: 400


.highlighted2
  text-decoration: underline
  text-decoration-color: $key-color
  @media (prefers-color-scheme: dark)
    text-decoration-color: color.adjust($key-color, $lightness: 10%)
  text-decoration-thickness: 2px



.aii-verse,
.aii-tr,
.eng-verse
  margin-bottom: 4px

.aii-verse
  @include aii-text('m')
  text-align: right

.aii-tr
  @include eng-text('m', $is-translit: true)

.tr-backlink-container
  font-style: normal
  margin-top: -2px
  padding-bottom: 6px

.translation-caption
  @include eng-text('xs')
  padding-top: 2px

.eng-verse
  @include eng-text('m')

  &.missing-verse
    @include eng-text('xs')

    &::before
      content: '(NLT Translation not available)'


#copyright-container
  @include copyright-container($side-padding)























