// sass-lint:disable no-ids

@use 'sass:color'
@use 'sass:list'

@use 'constants' as *

@use '../../shared_sass/constants/colors' as *


$key-color-dark: color.adjust($key-color, $lightness: 10%)

// https://developer.apple.com/design/human-interface-guidelines/color#iOS-iPadOS-system-colors
// iOS, iPadOS system colors - Accessible (Light)
$apple-blue: rgb(0, 64, 221)
$apple-red: rgb(215, 0, 21)
$apple-green: rgb(36, 138, 61)
$apple-purple: rgb(173, 68, 171)
$apple-yellow: rgb(178, 80, 0)
$apple-colors: ($apple-blue, $apple-red, $apple-green, $apple-purple, $apple-yellow)

// iOS, iPadOS system colors - Accessible (Dark)
$apple-blue-dark: rgb(64, 156, 255)
$apple-red-dark: rgb(255, 105, 97)
$apple-green-dark-1: rgb(49, 222, 75)
$apple-green-dark: color.mix($apple-green-dark-1, $apple-green, 60%) // since Accessible (Dark) is too bright
$apple-purple-dark: rgb(218, 143, 255)
$apple-yellow-dark: rgb(255, 212, 38)
$apple-colors-dark: ($apple-blue-dark, $apple-red-dark, $apple-green-dark, $apple-purple-dark, $apple-yellow-dark)

$apple-rgba-alpha: .75

@mixin atuta-box-color($color, $dark-color)
  $border-a: .3

  background-color: rgba($color, .06)
  border-color: rgba($color, $border-a)
  color: $color

  @media (prefers-color-scheme: dark)
    background-color: rgba($dark-color, .12)
    border-color: rgba($dark-color, $border-a)
    color: $dark-color

@mixin atuta-box-colors($apple-colors, $apple-colors-dark)
  @for $i from 0 through 4
    .atuta-box-clr-#{$i}
      $color: list.nth($apple-colors, $i + 1)
      $dark-color: list.nth($apple-colors-dark, $i + 1)
      @include atuta-box-color($color, $dark-color)



#tagged-results-meta
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


#matched-tag
  color: $key-color
  @media (prefers-color-scheme: dark)
    color: $key-color-dark


.tag-menu-btn-l1,
.show-gloss-terms-btn,
.show-examples-btn,
.show-other-forms-btn
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


.tag-menu-btn-l2
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark


  .expandable-btn-text
    .highlighted
      color: $key-color
      @media (prefers-color-scheme: dark)
        color: $key-color-dark


.top-tag-li
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


.top-tag-anchor
  &.exact-search-match
    color: $key-color
    @media (prefers-color-scheme: dark)
      color: $key-color-dark


@mixin gradient-border($gap, $color1, $color2, $color3)
  $color1: rgba($color1, $apple-rgba-alpha)
  $color2: rgba($color2, $apple-rgba-alpha)
  $color3: rgba($color3, $apple-rgba-alpha)

  background: linear-gradient(to right, $color1 calc(33% - #{$gap}), transparent calc(33% - #{$gap}) calc(33% + #{$gap}), $color2 calc(33% + #{$gap}) calc(66% - #{$gap}), transparent calc(66% - #{$gap}) calc(66% + #{$gap}), $color3 calc(66% + #{$gap}))


.free-text-search-result
  background-color: color.mix($background, $secondary-background, 30%)
  box-shadow: rgba(#000, .16) 0 6px 12px, rgba(0, 0, 0, .06) 0 0 0 1px
  transition: background-color .1s ease, box-shadow .1s ease

  @media (prefers-color-scheme: dark)
    background-color: color.mix($secondary-background-dark, $background-dark, 50%)
    box-shadow: black 0 4px 6px 2px, rgba(white, .35) 0 0 2px 1px

  @media (hover: hover) and (pointer: fine) // use underline on desktop
    &:hover
      background-color: color.mix($background, $secondary-background, 50%)
      box-shadow: rgba(#000, .28) 0 6px 21px, rgba(0, 0, 0, .06) 0 0 0 1px
      @media (prefers-color-scheme: dark)
        background-color: color.mix($secondary-background-dark, $background-dark, 95%)
        box-shadow: black 0 4px 6px 2px, rgba(white, .45) 0 0 2px 1px



  &.colorful-verb
    &::after
      @include gradient-border(2%, $apple-green, $apple-red, $apple-blue)
      @media (prefers-color-scheme: dark)
        @include gradient-border(2%, $apple-green-dark, $apple-red-dark, $apple-blue-dark)


.wiktionary-link-container
  border-bottom-color: $separator
  @media (prefers-color-scheme: dark)
    border-bottom-color: $separator-dark


  span
    color: $secondary-label
    @media (prefers-color-scheme: dark)
      color: $secondary-label-dark


.aii-v-word
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark


  .highlighted,
  &.exact-aii-search-match
    color: $key-color
    @media (prefers-color-scheme: dark)
      color: $key-color-dark


.aii-v-word-tr-container
  .aii-v-word-tr
    color: $label
    @media (prefers-color-scheme: dark)
      color: $label-dark


    .highlighted
      color: $key-color
      @media (prefers-color-scheme: dark)
        color: $key-color-dark


.aii-v-meta-container
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


@mixin verb-conj-border($bg, $blue, $red, $green)
  $clr-gap: 5deg

  $pre-0: $bg $clr-gap

  $stop-1: rgba($blue, $apple-rgba-alpha) $clr-gap 120deg - $clr-gap
  $post-1: $bg 120deg - $clr-gap 120deg + $clr-gap

  $stop-2: rgba($red, $apple-rgba-alpha) 120deg + $clr-gap 240deg - $clr-gap
  $post-2: $bg 240deg - $clr-gap 240deg + $clr-gap

  $stop-3: rgba($green, $apple-rgba-alpha) 240deg + $clr-gap 360deg - $clr-gap
  $post-3: $bg 360deg - $clr-gap - $clr-gap 360deg

  // approach from: https://stackoverflow.com/a/69574606
  $bg-gradient: linear-gradient($bg, $bg)
  $border-gradient: conic-gradient($pre-0, $stop-1, $post-1, $stop-2, $post-2, $stop-3, $post-3)

  background: $bg-gradient, $border-gradient


.pos
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


  .more-defs-button-container
    &.not-verb-conj-button
      background-color: $secondary-background
      border-color: $separator
      @media (prefers-color-scheme: dark)
        background-color: $background-dark
        border-color: $separator-dark


    &.verb-conj-button
      @include verb-conj-border($secondary-background, $apple-blue, $apple-red, $apple-green)
      @media (prefers-color-scheme: dark)
        @include verb-conj-border($background-dark, $apple-blue-dark, $apple-red-dark, $apple-green-dark)


    .more-defs-button
      color: $label
      @media (prefers-color-scheme: dark)
        color: $label-dark


.gloss-container
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark


.free-text-gloss
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark


  .highlighted
    color: $key-color
    @media (prefers-color-scheme: dark)
      color: $key-color-dark


.gloss
  .highlighted
    color: $key-color
    @media (prefers-color-scheme: dark)
      color: $key-color-dark


.t3-categories
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


.example-row-vals
  border-left-color: $separator
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    border-left-color: $separator-dark
    color: $secondary-label-dark


.more-info
  .infl-row
    &.is-heading
      border-bottom-color: $separator
      @media (prefers-color-scheme: dark)
        border-bottom-color: $separator-dark


.infl-meta
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


.cog-val-container
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


.infl-val-container

  .infl-val
    color: $secondary-label
    @media (prefers-color-scheme: dark)
      color: $secondary-label-dark


    &.does-match
      color: $label
      @media (prefers-color-scheme: dark)
        color: $label-dark


  .infl-val-eng
    color: $secondary-label
    @media (prefers-color-scheme: dark)
      color: $secondary-label-dark


  .infl-tr
    color: $secondary-label
    @media (prefers-color-scheme: dark)
      color: $secondary-label-dark


    &.does-match
      color: $label
      @media (prefers-color-scheme: dark)
        color: $label-dark


.atwateh-boxes
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark

@include atuta-box-colors($apple-colors, $apple-colors-dark)

.atuta-box-clr-weak
  border-color: $secondary-label
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    border-color: $secondary-label-dark
    color: $secondary-label-dark



.more-sounds-button,
.play-sound
  background-color: transparent
  border-color: $separator
  color: $label
  @media (prefers-color-scheme: dark)
    background-color: transparent
    border-color: $separator-dark
    color: $label-dark


.free-text-t1-play-sound
  border-color: rgba($separator, .15)
  color: rgba($label, .25)
  @media (prefers-color-scheme: dark)
    border-color: rgba($separator-dark, .3)
    color: rgba($label-dark, .35)


.free-text-ordinal
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


.play-sound-container
  .waiting
    color: color.adjust($label, $lightness: 50%)
    @media (prefers-color-scheme: dark)
      color: color.mix($label-dark, $background-dark, 40%)


  .accent-name-container
    color: $secondary-label
    @media (prefers-color-scheme: dark)
      color: $secondary-label-dark


.ipa,
.free-text-ipa
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


  &.playing-sound
    color: $label
    @media (prefers-color-scheme: dark)
      color: $label-dark


.ipa-info
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


.tag-highlight
  color: $key-color
  @media (prefers-color-scheme: dark)
    color: $key-color-dark


.tr-backlink-container
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark


#wiktionary-datadump
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark
