@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@font-face {
  font-family: "Noto Sans Syriac Western";
  font-weight: 100 900;
  src: url("../../fonts/NotoSansSyriacWestern[wght].ttf") format("truetype");
}
a {
  color: rgb(51, 102, 204);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: rgb(133, 177, 255);
  }
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(121, 92, 178);
}
@media (prefers-color-scheme: dark) {
  a:visited {
    color: rgb(186, 159, 239);
  }
}
a:active {
  color: orange;
}
@media (prefers-color-scheme: dark) {
  a:active {
    color: rgb(188, 90, 0);
  }
}

#created-by-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #created-by-container {
    color: rgb(221, 221, 232);
  }
}

.webapp-backlink-meta {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.webapp-backlink-href {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.creator-backlink-href {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  text-decoration: underline;
}

body {
  background-color: #fff;
  margin: 0 auto;
  max-width: 768px;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(28, 28, 30);
  }
}

#title {
  -webkit-text-stroke-color: dodgerblue;
  -webkit-text-stroke-width: 3px;
  color: transparent;
  direction: rtl;
  font-family: "Noto Sans Syriac";
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #title {
    -webkit-text-stroke-width: 0.390625vw;
    font-size: 11.71875vw;
    margin-top: 6.5104166667vw;
  }
}
@media screen and (max-width: 480px) {
  #title {
    -webkit-text-stroke-width: 0.5208333333vw;
  }
}

#subtitle {
  color: dodgerblue;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-top: -18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #subtitle {
    font-size: calc(12px + 2.6041666667vw);
    margin-top: -2.34375vw;
  }
}
@media screen and (max-width: 480px) {
  #subtitle {
    font-weight: 400;
  }
}

#reading-level-container {
  margin-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

#bible-controls-container {
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  justify-content: space-evenly;
  padding: 12px 16px;
  position: sticky;
  top: 0;
}
@media (prefers-color-scheme: dark) {
  #bible-controls-container {
    background-color: rgba(28, 28, 30, 0.65);
  }
}
@media screen and (width <= 480px) {
  #bible-controls-container {
    justify-content: space-between;
  }
}

select {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-family: sans-serif;
}

button {
  font-family: sans-serif;
  touch-action: manipulation;
}

#prev-chapter,
#next-chapter {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
}
@media screen and (width <= 480px) {
  #prev-chapter,
  #next-chapter {
    font-size: 16px;
    font-variation-settings: "wght" 700, "OPSZ" 20;
  }
}

.aii-book-name,
.header,
.header-2,
.reference,
.aii-verse,
.aii-tr,
.eng-verse,
#aramaic-history {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .aii-book-name,
  .header,
  .header-2,
  .reference,
  .aii-verse,
  .aii-tr,
  .eng-verse,
  #aramaic-history {
    color: rgb(221, 221, 232);
  }
}

#bible {
  margin-left: 16px;
  margin-right: 16px;
}

.aii-book-name {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 600;
  line-height: 1.4;
  font-size: 39.2px;
  margin-bottom: 14px;
  margin-top: 14px;
  text-align: center;
}

.header,
.header-2 {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 600;
  line-height: 1.4;
  font-size: 30.8px;
}

.reference {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 22.4px;
}
.reference .bible-backlink {
  text-decoration: underline;
}

#search-bible-backlink-container {
  padding-bottom: 6px;
  padding-top: 2px;
  text-align: right;
}

.verses-ol {
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 42px;
  padding-inline-start: 0;
}
.verses-ol:last-child {
  margin-bottom: 0;
}

li {
  margin-bottom: 4px;
}
li:first-child {
  margin-top: 0;
}

.aii-verse {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 22.4px;
  margin-top: 28px;
  text-align: right;
}
.aii-verse .marker {
  color: dodgerblue;
  font-weight: 600;
}

.aii-tr {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 16px;
}

.tr-backlink-container {
  font-style: normal;
  margin-top: -2px;
  padding-bottom: 6px;
}

.eng-verse {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.eng-verse .marker {
  color: dodgerblue;
  font-weight: 700;
}
.eng-verse .missing-verse {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}
.eng-verse .missing-verse::before {
  content: "(";
}
.eng-verse .missing-verse::after {
  content: ")";
}

.highlighted {
  background-color: rgb(226, 237, 255);
}
@media (prefers-color-scheme: dark) {
  .highlighted {
    background-color: rgb(42, 66, 107);
  }
}

#copyright-container {
  margin: 24px 16px;
}
#copyright-container .copyright {
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: rgb(134, 134, 137);
  margin-bottom: 3px;
  text-align: justify;
  text-justify: inter-word;
}
@media (prefers-color-scheme: dark) {
  #copyright-container .copyright {
    color: rgb(149, 149, 157);
  }
}
#copyright-container .copyright .emphasis-bible {
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
