
// loosely based off ios colors
// https://sarunw.com/posts/dark-color-cheat-sheet/
$background: #fff
$secondary-background: rgb(242, 242, 247)
$tertiary-background: rgb(230, 230, 235)
$black-label: #000
$label: rgb(28, 28, 30)
$secondary-label: rgb(134, 134, 137)
$placeholder: $secondary-label
$separator: rgb(203, 203, 205)
$link: rgb(51, 103, 214)

$background-dark: rgb(28, 28, 30)
$secondary-background-dark: rgb(54, 54, 57)
$tertiary-background-dark: rgb(84, 84, 90)
$label-dark: rgb(221, 221, 232)
$secondary-label-dark: rgb(149, 149, 157)
$placeholder-dark: $secondary-label-dark
$separator-dark: rgba(62, 62, 66)
$link-dark: rgb(138, 180, 248)
