@use 'colors' as *
@use 'mixins' as *


a
  color: $link
  text-decoration: none
  @media (prefers-color-scheme: dark)
    color: $link-dark


  &:hover
    text-decoration: underline

  &:visited
    color: $visited-link

    @media (prefers-color-scheme: dark)
      color: $visited-link-dark


  &:active
    color: $active-link

    @media (prefers-color-scheme: dark)
      color: $active-link-dark


// sass-lint:disable no-ids
#created-by-container
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark

  margin-bottom: 30px
  // margin-top: -2px
  padding-left: 16px // should parameterize side-padding as a global
  padding-right: 16px // should parameterize side-padding as a global
  text-align: center

.webapp-backlink-meta
  @include eng-text('xs', 400)

.webapp-backlink-href
  @include eng-text('xs', 400)
  text-decoration: underline

.creator-backlink-href
  @include aii-text('xs', 400)
  text-decoration: underline
