@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=check,chevron_left,chevron_right,close,content_copy,keyboard_arrow_down,keyboard_arrow_right,pause,play_arrow,search,select_to_speak,volume_up");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
@font-face {
  font-family: "Noto Sans Syriac Western";
  font-weight: 100 900;
  src: url("../../fonts/NotoSansSyriacWestern[wght].ttf") format("truetype");
}
#top-tags-container button,
#top-tags-container a {
  background-color: transparent;
  border-color: rgb(210.4285714286, 210.4285714286, 227.5714285714);
}
@media (prefers-color-scheme: dark) {
  #top-tags-container button,
  #top-tags-container a {
    border-color: rgb(83.772972973, 83.772972973, 88.427027027);
  }
}
#top-tags-container button {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #top-tags-container button {
    color: rgb(221, 221, 232);
  }
}
@media (hover: hover) and (pointer: fine) {
  #top-tags-container button:hover {
    background-color: rgb(216.7428571429, 216.7428571429, 231.4571428571);
    border-color: rgb(216.7428571429, 216.7428571429, 231.4571428571);
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  #top-tags-container button:hover {
    background-color: rgb(68.8864864865, 68.8864864865, 72.7135135135);
    border-color: rgb(68.8864864865, 68.8864864865, 72.7135135135);
  }
}
#top-tags-container button.active {
  background-color: rgb(57.5448275862, 57.5448275862, 61.6551724138);
  border-color: rgb(57.5448275862, 57.5448275862, 61.6551724138);
  color: rgb(242, 242, 247);
}
@media (prefers-color-scheme: dark) {
  #top-tags-container button.active {
    background-color: rgb(239.2526315789, 239.2526315789, 244.3473684211);
    border-color: rgb(239.2526315789, 239.2526315789, 244.3473684211);
    color: rgb(28, 28, 30);
  }
}

#tagged-results-meta {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #tagged-results-meta {
    color: rgb(149, 149, 157);
  }
}

#matched-tag {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  #matched-tag {
    color: rgb(255, 71, 170.4382978723);
  }
}

.expandable-btn {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .expandable-btn {
    color: rgb(149, 149, 157);
  }
}
@media (hover: hover) and (pointer: fine) {
  .expandable-btn:hover {
    background-color: rgb(229.3714285714, 229.3714285714, 239.2285714286);
    box-shadow: -9px 0 0 0 rgb(229.3714285714, 229.3714285714, 239.2285714286);
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .expandable-btn:hover {
    background-color: rgb(47.6965517241, 47.6965517241, 51.1034482759);
    box-shadow: -9px 0 0 0 rgb(47.6965517241, 47.6965517241, 51.1034482759);
  }
}

.free-text-search-result {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0 6px 12px, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}
@media (prefers-color-scheme: dark) {
  .free-text-search-result {
    background-color: rgb(44.9, 44.9, 47.55);
    box-shadow: none;
  }
}
@media (hover: hover) and (pointer: fine) {
  .free-text-search-result:hover {
    box-shadow: rgba(0, 0, 0, 0.36) 0 6px 21px, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .free-text-search-result:hover {
    background-color: rgb(54, 54, 57);
    box-shadow: none;
  }
}

.free-text-btn-icon {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .free-text-btn-icon {
    color: rgb(149, 149, 157);
  }
}

.aii-v-word {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .aii-v-word {
    color: rgb(221, 221, 232);
  }
}
.aii-v-word .highlighted, .aii-v-word.exact-aii-search-match {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .aii-v-word .highlighted, .aii-v-word.exact-aii-search-match {
    color: rgb(255, 71, 170.4382978723);
  }
}

.aii-v-word-tr-container .aii-v-word-tr {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .aii-v-word-tr-container .aii-v-word-tr {
    color: rgb(221, 221, 232);
  }
}
.aii-v-word-tr-container .aii-v-word-tr .highlighted {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .aii-v-word-tr-container .aii-v-word-tr .highlighted {
    color: rgb(255, 71, 170.4382978723);
  }
}

.aii-v-meta-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .aii-v-meta-container {
    color: rgb(149, 149, 157);
  }
}

.pos {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .pos {
    color: rgb(149, 149, 157);
  }
}

.gloss-container {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .gloss-container {
    color: rgb(221, 221, 232);
  }
}

.free-text-gloss {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .free-text-gloss {
    color: rgb(221, 221, 232);
  }
}
.free-text-gloss .highlighted {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .free-text-gloss .highlighted {
    color: rgb(255, 71, 170.4382978723);
  }
}

.gloss .highlighted {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .gloss .highlighted {
    color: rgb(255, 71, 170.4382978723);
  }
}

.t3-categories,
.t0-categories {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .t3-categories,
  .t0-categories {
    color: rgb(149, 149, 157);
  }
}

.example-row-vals {
  border-left-color: rgba(91, 91, 96, 0.29);
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .example-row-vals {
    border-left-color: rgba(119, 119, 127, 0.6);
    color: rgb(149, 149, 157);
  }
}

.more-info .infl-row.is-heading {
  border-bottom-color: rgba(91, 91, 96, 0.29);
}
@media (prefers-color-scheme: dark) {
  .more-info .infl-row.is-heading {
    border-bottom-color: rgba(119, 119, 127, 0.6);
  }
}

.infl-meta {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-meta {
    color: rgb(149, 149, 157);
  }
}

.cog-val-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .cog-val-container {
    color: rgb(149, 149, 157);
  }
}

.infl-val-container .infl-val {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-val {
    color: rgb(149, 149, 157);
  }
}
.infl-val-container .infl-val.does-match {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-val.does-match {
    color: rgb(221, 221, 232);
  }
}
.infl-val-container .infl-val-eng:not(select) {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-val-eng:not(select) {
    color: rgb(149, 149, 157);
  }
}
.infl-val-container .infl-tr {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-tr {
    color: rgb(149, 149, 157);
  }
}
.infl-val-container .infl-tr.does-match {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-tr.does-match {
    color: rgb(221, 221, 232);
  }
}

.radical-highlighted-verb-form {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .radical-highlighted-verb-form {
    color: rgb(149, 149, 157);
  }
}

.rad-is-weak {
  border-color: rgb(134, 134, 137);
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .rad-is-weak {
    border-color: rgb(149, 149, 157);
    color: rgb(149, 149, 157);
  }
}

.rad-clr-0 {
  background-color: rgba(0, 64, 221, 0.06);
  border-color: rgba(0, 64, 221, 0.32);
  color: rgb(0, 64, 221);
}
@media (prefers-color-scheme: dark) {
  .rad-clr-0 {
    background-color: rgba(64, 156, 255, 0.06);
    border-color: rgba(64, 156, 255, 0.44);
    color: rgb(64, 156, 255);
  }
}

.rad-clr-1 {
  background-color: rgba(215, 0, 21, 0.06);
  border-color: rgba(215, 0, 21, 0.32);
  color: rgb(215, 0, 21);
}
@media (prefers-color-scheme: dark) {
  .rad-clr-1 {
    background-color: rgba(255, 105, 97, 0.06);
    border-color: rgba(255, 105, 97, 0.44);
    color: rgb(255, 105, 97);
  }
}

.rad-clr-2 {
  background-color: rgba(36, 138, 61, 0.06);
  border-color: rgba(36, 138, 61, 0.32);
  color: rgb(36, 138, 61);
}
@media (prefers-color-scheme: dark) {
  .rad-clr-2 {
    background-color: rgba(43.8, 188.4, 69.4, 0.06);
    border-color: rgba(43.8, 188.4, 69.4, 0.44);
    color: rgb(43.8, 188.4, 69.4);
  }
}

.rad-clr-3 {
  background-color: rgba(173, 68, 171, 0.06);
  border-color: rgba(173, 68, 171, 0.32);
  color: rgb(173, 68, 171);
}
@media (prefers-color-scheme: dark) {
  .rad-clr-3 {
    background-color: rgba(218, 143, 255, 0.06);
    border-color: rgba(218, 143, 255, 0.44);
    color: rgb(218, 143, 255);
  }
}

.rad-clr-4 {
  background-color: rgba(178, 80, 0, 0.06);
  border-color: rgba(178, 80, 0, 0.32);
  color: rgb(178, 80, 0);
}
@media (prefers-color-scheme: dark) {
  .rad-clr-4 {
    background-color: rgba(255, 212, 38, 0.06);
    border-color: rgba(255, 212, 38, 0.44);
    color: rgb(255, 212, 38);
  }
}

.free-text-t1-play-sound,
.inactive-more-sounds-button {
  border-color: rgba(91, 91, 96, 0.15);
  color: rgba(28, 28, 30, 0.25);
}
@media (prefers-color-scheme: dark) {
  .free-text-t1-play-sound,
  .inactive-more-sounds-button {
    border-color: rgba(119, 119, 127, 0.3);
    color: rgba(221, 221, 232, 0.35);
  }
}

.free-text-ordinal {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .free-text-ordinal {
    color: rgb(149, 149, 157);
  }
}

.play-sound-container .waiting {
  color: rgb(153.1034482759, 153.1034482759, 159.8965517241);
}
@media (prefers-color-scheme: dark) {
  .play-sound-container .waiting {
    color: rgb(105.2, 105.2, 110.8);
  }
}
.play-sound-container .accent-name-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .play-sound-container .accent-name-container {
    color: rgb(149, 149, 157);
  }
}

.ipa,
.free-text-ipa {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .ipa,
  .free-text-ipa {
    color: rgb(149, 149, 157);
  }
}
.ipa.playing-sound,
.free-text-ipa.playing-sound {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .ipa.playing-sound,
  .free-text-ipa.playing-sound {
    color: rgb(221, 221, 232);
  }
}

.ipa-info {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .ipa-info {
    color: rgb(149, 149, 157);
  }
}

.tag-highlight {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .tag-highlight {
    color: rgb(255, 71, 170.4382978723);
  }
}

.tr-backlink-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .tr-backlink-container {
    color: rgb(149, 149, 157);
  }
}

#wiktionary-datadump {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #wiktionary-datadump {
    color: rgb(149, 149, 157);
  }
}

.inflections-button-container,
.play-sound,
.more-sounds-button,
.more-paradigms-button {
  background-color: #fff;
  border-color: rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .inflections-button-container,
  .play-sound,
  .more-sounds-button,
  .more-paradigms-button {
    background-color: rgb(58.9621621622, 58.9621621622, 62.2378378378);
    border-color: rgb(58.9621621622, 58.9621621622, 62.2378378378);
    color: rgb(221, 221, 232);
  }
}
@media (hover: hover) and (pointer: fine) {
  .inflections-button-container:hover,
  .play-sound:hover,
  .more-sounds-button:hover,
  .more-paradigms-button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px 2px;
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .inflections-button-container:hover,
  .play-sound:hover,
  .more-sounds-button:hover,
  .more-paradigms-button:hover {
    background-color: rgb(73.8486486486, 73.8486486486, 77.9513513514);
    border-color: rgb(73.8486486486, 73.8486486486, 77.9513513514);
    box-shadow: none;
  }
}

body {
  background-color: rgb(242, 242, 247);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(28, 28, 30);
  }
}

a {
  color: rgb(45.9, 117.3, 209.1);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: rgb(133, 177, 255);
  }
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(122.2, 73.6, 193.4);
}
@media (prefers-color-scheme: dark) {
  a:visited {
    color: rgb(186, 159, 239);
  }
}
a:active {
  color: orange;
}
@media (prefers-color-scheme: dark) {
  a:active {
    color: rgb(188, 90, 0);
  }
}

#clear-text,
#search-icon {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #clear-text,
  #search-icon {
    color: rgb(149, 149, 157);
  }
}

#autofocus-tip-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #autofocus-tip-container {
    color: rgb(149, 149, 157);
  }
}

kbd {
  background-color: rgb(242, 242, 247);
  border-color: rgba(91, 91, 96, 0.29);
  box-shadow: 0 1px 1px rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  kbd {
    background-color: rgb(78.8108108108, 78.8108108108, 83.1891891892);
    border-color: rgb(122.5, 122.5, 132.5);
    box-shadow: 0 1px 1px rgb(122.5, 122.5, 132.5);
    color: rgb(221, 221, 232);
  }
}

#searchbar {
  background-color: #fff;
  border-color: rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #searchbar {
    background-color: rgb(54, 54, 57);
    border-color: rgb(54, 54, 57);
    color: rgb(221, 221, 232);
  }
}
#searchbar::placeholder {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #searchbar::placeholder {
    color: rgb(149, 149, 157);
  }
}
#searchbar:focus {
  border: 1px solid rgb(45.9, 117.3, 209.1);
}
@media (prefers-color-scheme: dark) {
  #searchbar:focus {
    border: 1px solid rgb(133, 177, 255);
  }
}

body {
  margin: 0 auto 50px;
}

#title {
  -webkit-text-stroke-color: deeppink;
  -webkit-text-stroke-width: 3px;
  color: transparent;
  direction: rtl;
  font-family: "Noto Sans Syriac";
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #title {
    -webkit-text-stroke-width: 0.390625vw;
    font-size: 11.71875vw;
    margin-top: 6.5104166667vw;
  }
}
@media screen and (max-width: 480px) {
  #title {
    -webkit-text-stroke-width: 0.5208333333vw;
  }
}

#subtitle {
  color: deeppink;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-top: -18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #subtitle {
    font-size: calc(12px + 2.6041666667vw);
    margin-top: -2.34375vw;
  }
}
@media screen and (max-width: 480px) {
  #subtitle {
    font-weight: 400;
  }
}

#created-by-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #created-by-container {
    color: rgb(221, 221, 232);
  }
}

#backlink-promotion-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #backlink-promotion-container {
    color: rgb(221, 221, 232);
  }
}

.webapp-backlink-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.webapp-backlink-href {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.creator-backlink-href {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  text-decoration: underline;
}

#app-container {
  margin: 0 auto;
  max-width: 582px;
}

#searchbar-container {
  margin: 32px 16px 8px;
  position: relative;
}

#search-icon {
  font-size: 24px;
  font-variation-settings: "wght" 350;
  left: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#clear-text {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 12px 16px 12px 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#autofocus-tip-container {
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (width <= 1011px) {
  #autofocus-tip-container {
    display: none !important;
  }
}

kbd {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  padding: 2px 4px;
}

#searchbar {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 6px;
  box-sizing: border-box;
  direction: ltr;
  display: block;
  line-height: 2;
  outline: 0;
  padding-bottom: 6px;
  padding-left: 44px;
  padding-right: 46px;
  padding-top: 6px;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  #searchbar {
    box-shadow: none;
  }
}
#searchbar.aii-search-text {
  direction: rtl;
  text-align: left;
}

#search-results {
  margin: 20px 0;
}

#numbers-table {
  margin: 20px 36px;
}
#numbers-table .more-info {
  margin: 0;
}

#tagged-results-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 0 36px 4px;
}
#tagged-results-meta #matched-tag {
  font-weight: 500;
}

#top-tags-container {
  margin: 20px 10px;
  text-align: center;
}
#top-tags-container button,
#top-tags-container a {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  margin: 6px;
}
#top-tags-container li,
#top-tags-container a {
  display: inline-block;
}
#top-tags-container button {
  border-radius: 10px;
  padding: 8px 12px;
  transition: color 100ms, background-color 100ms, border-color 100ms;
}
#top-tags-container button:not(.active) {
  cursor: pointer;
}
#top-tags-container a {
  border-radius: 8px;
  padding: 4px 8px;
}

#top-tags-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.expandable-btn {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0;
}
@media (hover: hover) and (pointer: fine) {
  .expandable-btn:hover {
    border-radius: 6px;
  }
}
.expandable-btn .expandable-btn-text {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.expandable-btn .expandable-btn-icon {
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  transition: transform 200ms;
}
.expandable-btn .expandable-btn-icon.expanded {
  transform: rotate(90deg);
}

.free-text-search-result {
  border-radius: 12px;
  display: block;
  margin: 0 16px 20px;
  padding: 20px;
  position: relative;
  text-decoration: none;
}
.free-text-search-result:hover, .free-text-search-result:visited, .free-text-search-result:active {
  text-decoration: none;
}
.free-text-search-result > .aii-v-word {
  margin-right: 20px;
}
.free-text-search-result > .aii-v-word-tr-container {
  margin-bottom: 8px;
}

.free-text-btn-icon {
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
  position: absolute;
  right: 16px;
  top: 16px;
}

.search-result {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 8px;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
}

button {
  touch-action: manipulation;
}

.aii-v-word-container {
  padding-bottom: 40px;
}
.aii-v-word-container.show-first {
  order: -1;
}

.aii-v-word {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 30.8px;
  padding-bottom: 6px;
  text-align: left;
}
.aii-v-word .highlighted, .aii-v-word.exact-aii-search-match {
  font-weight: 500;
}

.aii-v-word-tr-container {
  align-items: center;
  display: flex;
}
.aii-v-word-tr-container .aii-v-word-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.aii-v-word-tr-container .aii-v-word-tr .highlighted {
  font-weight: 500;
}

.aii-v-meta-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-top: 6px;
}

.jsonline {
  padding-top: 16px;
}

.pos {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  align-items: center;
  display: flex;
  gap: 6px;
}
.pos > * {
  align-self: flex-end;
}
.pos .colorful-verb-wrapper {
  height: 42px;
  margin-left: auto;
  padding: 22px 22px 0 22px;
  position: relative;
  width: 38px;
}
.pos .inflections-button-container {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  flex-shrink: 0;
  height: 38px;
  margin-left: auto;
  padding: 0;
  width: 38px;
}
.pos .inflections-button-container .inflections-button {
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
  margin-top: 4px;
  transition: transform 200ms;
}
.pos .inflections-button-container .inflections-button.expanded {
  transform: rotate(180deg);
}

.microrad-along-arc-0 {
  animation: orbit-0 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  z-index: 5;
}
@keyframes orbit-0 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-1 {
  animation: orbit-1 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  z-index: 4;
}
@keyframes orbit-1 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-0 {
  animation: orbit-0 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  z-index: 5;
}
@keyframes orbit-0 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-1 {
  animation: orbit-1 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  z-index: 4;
}
@keyframes orbit-1 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-2 {
  animation: orbit-2 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-90deg) translate(32px) rotate(90deg);
  z-index: 3;
}
@keyframes orbit-2 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-90deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-0 {
  animation: orbit-0 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  z-index: 5;
}
@keyframes orbit-0 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-1 {
  animation: orbit-1 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  z-index: 4;
}
@keyframes orbit-1 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-2 {
  animation: orbit-2 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-90deg) translate(32px) rotate(90deg);
  z-index: 3;
}
@keyframes orbit-2 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-90deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-3 {
  animation: orbit-3 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-135deg) translate(32px) rotate(90deg);
  z-index: 2;
}
@keyframes orbit-3 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-135deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-0 {
  animation: orbit-0 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  z-index: 5;
}
@keyframes orbit-0 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-1 {
  animation: orbit-1 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  z-index: 4;
}
@keyframes orbit-1 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-45deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-2 {
  animation: orbit-2 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-90deg) translate(32px) rotate(90deg);
  z-index: 3;
}
@keyframes orbit-2 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-90deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-3 {
  animation: orbit-3 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-135deg) translate(32px) rotate(90deg);
  z-index: 2;
}
@keyframes orbit-3 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-135deg) translate(32px) rotate(90deg);
  }
}

.microrad-along-arc-4 {
  animation: orbit-4 0.4s ease;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0) rotate(-180deg) translate(32px) rotate(90deg);
  z-index: 1;
}
@keyframes orbit-4 {
  from {
    transform: translate(-50%, 0) rotate(0deg) translate(32px) rotate(90deg);
  }
  to {
    transform: translate(-50%, 0) rotate(-180deg) translate(32px) rotate(90deg);
  }
}

.microrad-legend {
  position: absolute;
  right: 44px;
  top: 17px;
}
.microrad-legend > div {
  margin-left: 4px;
}

.microrad {
  font-weight: 500;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  width: 10px;
}

.of-root-container {
  display: inline-block;
}

.of-root-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
}

.of-root-aii {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
}

.free-text-t0,
.free-text-t1,
.free-text-t2 {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 8px;
}

.free-text-t1-ipa-container {
  align-items: center;
  display: flex !important;
  margin-bottom: 12px;
  margin-top: 12px;
}
.free-text-t1-ipa-container .free-text-ordinal {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.free-text-t1-ipa-container .free-text-t1-play-sound {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  margin-right: 8px;
  padding: 6px;
}

.free-text-ipa {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-family: sans-serif;
  overflow-wrap: anywhere;
  white-space: normal;
}

.free-text-senses {
  margin: 0;
  padding-left: 34px;
}

.senses {
  margin: 0;
  padding-left: 34px;
  padding-top: 6px;
}
.senses.only-one-gloss {
  list-style-type: none;
}

.gloss-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.free-text-gloss {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, "Noto Sans Syriac Eastern", sans-serif;
  font-size: 14px;
}
.free-text-gloss .highlighted {
  font-weight: 500;
}

.gloss {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, "Noto Sans Syriac Eastern", sans-serif;
  font-size: 14px;
}
.gloss .highlighted {
  font-weight: 500;
}

.ety-list {
  display: inline;
  margin: 0;
  padding: 0;
}

.ety-list > li {
  display: inline-block;
}
.ety-list > li:not(:last-child)::after {
  content: ", ";
}

.t3-categories {
  padding: 0;
}

.t0-categories {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 0 0 40px;
  padding: 0;
}
.t0-categories::before {
  content: "see also: ";
}

.t3-categories > li,
.t0-categories > li {
  display: inline-block;
}
.t3-categories > li:not(:last-child)::after,
.t0-categories > li:not(:last-child)::after {
  content: " |";
  margin-left: 3px;
  margin-right: 6px;
}

.t3-linkages-and-examples {
  display: none;
}
.t3-linkages-and-examples > .example-row {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
}
.t3-linkages-and-examples > .example-row .example-row-vals {
  border-left-style: solid;
  border-left-width: 3px;
  padding: 8px 0;
  padding-left: 12px;
}

.more-info {
  display: none;
}
.more-info.has-heading {
  margin: 24px 0;
}
.more-info.has-heading:has(+ .more-paradigms) {
  margin: 24px 0 0;
}

.infl-row {
  align-items: baseline;
  display: flex;
  gap: 8px;
  padding: 12px 0 0;
}
.infl-row:last-child {
  padding-bottom: 6px;
}
.infl-row.is-heading {
  align-items: end;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 6px;
}
.infl-row .infl-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  white-space: nowrap;
}
.infl-row .infl-vals {
  margin-left: auto;
}

.headered-rows > .rows-y-padding {
  margin: 12px 0;
}
.headered-rows > .rows-y-padding:first-child {
  margin-top: 0;
}
.headered-rows > .rows-y-padding:last-child {
  margin-bottom: 0;
}

.cog-val-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding-bottom: 7px;
  padding-top: 4px;
  text-align: right;
}

.infl-val-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.infl-val-container .infl-val {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
}
.infl-val-container .infl-val.does-match {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 500;
  line-height: 1.4;
  font-size: 19.6px;
}
.infl-val-container .infl-val-eng {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.infl-val-container select.infl-val-eng {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
  text-align: right;
  width: 100%;
}
.infl-val-container .infl-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
}
.infl-val-container .infl-tr.does-match {
  font-weight: 500;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
}
.infl-val-container .infl-val-anchor {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
}

.radical-highlighted-verb-form {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
  margin: 8px 0;
}

.tinyrad {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  margin: 0 1px;
  padding: 2px 4px;
}

.tinyrad-is-first {
  margin-right: 0;
}

.rad-is-weak {
  border-style: dotted;
}

.sound-containers:not(.always-show) {
  display: none;
}
.sound-containers .sound-container {
  padding-top: 12px;
}

.inactive-more-sounds-button {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  flex-shrink: 0;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  height: 36px;
  line-height: 36px;
  margin-right: 8px;
  text-align: center;
  width: 36px;
}

.more-sounds-button {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  height: 38px;
  margin-right: 8px;
  padding: 0;
  transition: transform 200ms;
  width: 38px;
}
.more-sounds-button::before {
  content: "select_to_speak";
}
.more-sounds-button.expanded {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
  transform: rotate(180deg);
}
.more-sounds-button.expanded::before {
  content: "keyboard_arrow_down";
}

.more-paradigms {
  display: flow-root;
}
.more-paradigms .more-info:first-child {
  margin-top: 0;
}

.more-paradigms-button-container {
  display: flex;
  justify-content: center;
}

.more-paradigms-button {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
  height: 38px;
  padding: 0;
  transition: transform 200ms;
  width: 38px;
}
.more-paradigms-button.expanded {
  transform: rotate(180deg);
}

.play-sound-container {
  align-items: center;
  display: flex;
}
.play-sound-container .play-sound {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  padding: 6px;
  transition: border 200ms, color 200ms, font-variation-settings 200ms;
}
.play-sound-container .play-sound.playing-sound {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 24;
}
.play-sound-container .accent-name-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-left: 8px;
}

.sound-meta-container {
  display: none;
  margin-bottom: 12px;
  margin-left: 44px;
}

.ipa {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 8px;
  overflow-wrap: anywhere;
  transition: color 200ms;
}

.ipa-info {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin-left: 46px;
}

.tag-highlight {
  font-weight: 500;
}

.tr-backlink-container {
  font-style: normal;
  margin-top: -4px;
}

#wiktionary-datadump {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin: 20px 0;
  padding-left: 36px;
  padding-right: 36px;
  text-align: justify;
}

.example-text {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
  text-align: right;
}

.example-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
}

.example-english {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.example-english-ref {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, "Noto Sans Syriac Eastern", sans-serif;
  font-size: 14px;
}

.tier1-tag,
.tier2-tag,
.in-numbers-table {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
