@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=check,chevron_left,chevron_right,close,collapse_content,content_copy,keyboard_arrow_down,keyboard_arrow_right,pause,play_arrow,select_to_speak,volume_up");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
@font-face {
  font-family: "Noto Sans Syriac Western";
  font-weight: 100 900;
  src: url("../../fonts/NotoSansSyriacWestern[wght].ttf") format("truetype");
}
#tagged-results-meta {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #tagged-results-meta {
    color: rgb(149, 149, 157);
  }
}

#matched-tag {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  #matched-tag {
    color: rgb(255, 71, 170.4382978723);
  }
}

.tag-menu-btn-l1,
.show-gloss-terms-btn,
.show-examples-btn,
.show-other-forms-btn {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .tag-menu-btn-l1,
  .show-gloss-terms-btn,
  .show-examples-btn,
  .show-other-forms-btn {
    color: rgb(149, 149, 157);
  }
}

.expandable-btn-icon-green {
  color: rgba(36, 138, 61, 0.75);
}
@media (prefers-color-scheme: dark) {
  .expandable-btn-icon-green {
    color: rgba(43.8, 188.4, 69.4, 0.75);
  }
}

.expandable-btn-icon-red {
  color: rgba(215, 0, 21, 0.75);
}
@media (prefers-color-scheme: dark) {
  .expandable-btn-icon-red {
    color: rgba(255, 105, 97, 0.75);
  }
}

.expandable-btn-icon-blue {
  color: rgba(0, 64, 221, 0.75);
}
@media (prefers-color-scheme: dark) {
  .expandable-btn-icon-blue {
    color: rgba(64, 156, 255, 0.75);
  }
}
.expandable-btn-icon-blue.expanded {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .expandable-btn-icon-blue.expanded {
    color: rgb(149, 149, 157);
  }
}

.tag-menu-btn-l2 {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .tag-menu-btn-l2 {
    color: rgb(221, 221, 232);
  }
}
.tag-menu-btn-l2 .expandable-btn-text .highlighted {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .tag-menu-btn-l2 .expandable-btn-text .highlighted {
    color: rgb(255, 71, 170.4382978723);
  }
}

.top-tag-li {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .top-tag-li {
    color: rgb(149, 149, 157);
  }
}

.top-tag-anchor.exact-search-match {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .top-tag-anchor.exact-search-match {
    color: rgb(255, 71, 170.4382978723);
  }
}

.free-text-search-result {
  background-color: rgb(245.9, 245.9, 249.4);
  box-shadow: rgba(0, 0, 0, 0.16) 0 6px 12px, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
}
@media (prefers-color-scheme: dark) {
  .free-text-search-result {
    background-color: rgb(41, 41, 43.5);
    box-shadow: black 0 4px 6px 2px, rgba(255, 255, 255, 0.35) 0 0 2px 1px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .free-text-search-result:hover {
    background-color: rgb(248.5, 248.5, 251);
    box-shadow: rgba(0, 0, 0, 0.28) 0 6px 21px, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  }
}
@media (hover: hover) and (pointer: fine) and (prefers-color-scheme: dark) {
  .free-text-search-result:hover {
    background-color: rgb(52.7, 52.7, 55.65);
    box-shadow: black 0 4px 6px 2px, rgba(255, 255, 255, 0.45) 0 0 2px 1px;
  }
}
.free-text-search-result.colorful-verb::after {
  background: linear-gradient(to right, rgba(36, 138, 61, 0.75) calc(33% - 2%), transparent calc(33% - 2%) calc(33% + 2%), rgba(215, 0, 21, 0.75) calc(33% + 2%) calc(66% - 2%), transparent calc(66% - 2%) calc(66% + 2%), rgba(0, 64, 221, 0.75) calc(66% + 2%));
}
@media (prefers-color-scheme: dark) {
  .free-text-search-result.colorful-verb::after {
    background: linear-gradient(to right, rgba(43.8, 188.4, 69.4, 0.75) calc(33% - 2%), transparent calc(33% - 2%) calc(33% + 2%), rgba(255, 105, 97, 0.75) calc(33% + 2%) calc(66% - 2%), transparent calc(66% - 2%) calc(66% + 2%), rgba(64, 156, 255, 0.75) calc(66% + 2%));
  }
}

.wiktionary-link-container {
  border-bottom-color: rgba(91, 91, 96, 0.29);
}
@media (prefers-color-scheme: dark) {
  .wiktionary-link-container {
    border-bottom-color: rgba(119, 119, 127, 0.6);
  }
}
.wiktionary-link-container span {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .wiktionary-link-container span {
    color: rgb(149, 149, 157);
  }
}

.aii-v-word {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .aii-v-word {
    color: rgb(221, 221, 232);
  }
}
.aii-v-word .highlighted, .aii-v-word.exact-aii-search-match {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .aii-v-word .highlighted, .aii-v-word.exact-aii-search-match {
    color: rgb(255, 71, 170.4382978723);
  }
}

.atuta-box-large {
  border-color: rgba(91, 91, 96, 0.29);
}
@media (prefers-color-scheme: dark) {
  .atuta-box-large {
    border-color: rgba(119, 119, 127, 0.6);
  }
}

.aii-v-word-tr-container .aii-v-word-tr {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .aii-v-word-tr-container .aii-v-word-tr {
    color: rgb(221, 221, 232);
  }
}
.aii-v-word-tr-container .aii-v-word-tr .highlighted {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .aii-v-word-tr-container .aii-v-word-tr .highlighted {
    color: rgb(255, 71, 170.4382978723);
  }
}

.aii-v-meta-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .aii-v-meta-container {
    color: rgb(149, 149, 157);
  }
}

.pos {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .pos {
    color: rgb(149, 149, 157);
  }
}
.pos .more-defs-button-container.not-verb-conj-button {
  background-color: rgb(242, 242, 247);
  border-color: rgba(91, 91, 96, 0.29);
}
@media (prefers-color-scheme: dark) {
  .pos .more-defs-button-container.not-verb-conj-button {
    background-color: rgb(28, 28, 30);
    border-color: rgba(119, 119, 127, 0.6);
  }
}
.pos .more-defs-button-container.verb-conj-button {
  background: linear-gradient(rgb(242, 242, 247), rgb(242, 242, 247)), conic-gradient(rgb(242, 242, 247) 5deg, rgba(0, 64, 221, 0.75) 5deg 115deg, rgb(242, 242, 247) 115deg 125deg, rgba(215, 0, 21, 0.75) 125deg 235deg, rgb(242, 242, 247) 235deg 245deg, rgba(36, 138, 61, 0.75) 245deg 355deg, rgb(242, 242, 247) 350deg 360deg);
}
@media (prefers-color-scheme: dark) {
  .pos .more-defs-button-container.verb-conj-button {
    background: linear-gradient(rgb(28, 28, 30), rgb(28, 28, 30)), conic-gradient(rgb(28, 28, 30) 5deg, rgba(64, 156, 255, 0.75) 5deg 115deg, rgb(28, 28, 30) 115deg 125deg, rgba(255, 105, 97, 0.75) 125deg 235deg, rgb(28, 28, 30) 235deg 245deg, rgba(43.8, 188.4, 69.4, 0.75) 245deg 355deg, rgb(28, 28, 30) 350deg 360deg);
  }
}
.pos .more-defs-button-container .more-defs-button {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .pos .more-defs-button-container .more-defs-button {
    color: rgb(221, 221, 232);
  }
}

.gloss-container {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .gloss-container {
    color: rgb(221, 221, 232);
  }
}

.free-text-gloss {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .free-text-gloss {
    color: rgb(221, 221, 232);
  }
}
.free-text-gloss .highlighted {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .free-text-gloss .highlighted {
    color: rgb(255, 71, 170.4382978723);
  }
}

.gloss .highlighted {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .gloss .highlighted {
    color: rgb(255, 71, 170.4382978723);
  }
}

.t3-categories {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .t3-categories {
    color: rgb(149, 149, 157);
  }
}

.example-row-vals {
  border-left-color: rgba(91, 91, 96, 0.29);
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .example-row-vals {
    border-left-color: rgba(119, 119, 127, 0.6);
    color: rgb(149, 149, 157);
  }
}

.more-info .infl-row.is-heading {
  border-bottom-color: rgba(91, 91, 96, 0.29);
}
@media (prefers-color-scheme: dark) {
  .more-info .infl-row.is-heading {
    border-bottom-color: rgba(119, 119, 127, 0.6);
  }
}

.infl-meta {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-meta {
    color: rgb(149, 149, 157);
  }
}

.cog-val-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .cog-val-container {
    color: rgb(149, 149, 157);
  }
}

.infl-val-container .infl-val {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-val {
    color: rgb(149, 149, 157);
  }
}
.infl-val-container .infl-val.does-match {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-val.does-match {
    color: rgb(221, 221, 232);
  }
}
.infl-val-container .infl-val-eng {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-val-eng {
    color: rgb(149, 149, 157);
  }
}
.infl-val-container .infl-tr {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-tr {
    color: rgb(149, 149, 157);
  }
}
.infl-val-container .infl-tr.does-match {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .infl-val-container .infl-tr.does-match {
    color: rgb(221, 221, 232);
  }
}

.atwateh-boxes {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .atwateh-boxes {
    color: rgb(149, 149, 157);
  }
}

.atuta-box-clr-0 {
  background-color: rgba(0, 64, 221, 0.06);
  border-color: rgba(0, 64, 221, 0.3);
  color: rgb(0, 64, 221);
}
@media (prefers-color-scheme: dark) {
  .atuta-box-clr-0 {
    background-color: rgba(64, 156, 255, 0.12);
    border-color: rgba(64, 156, 255, 0.3);
    color: rgb(64, 156, 255);
  }
}

.atuta-box-clr-1 {
  background-color: rgba(215, 0, 21, 0.06);
  border-color: rgba(215, 0, 21, 0.3);
  color: rgb(215, 0, 21);
}
@media (prefers-color-scheme: dark) {
  .atuta-box-clr-1 {
    background-color: rgba(255, 105, 97, 0.12);
    border-color: rgba(255, 105, 97, 0.3);
    color: rgb(255, 105, 97);
  }
}

.atuta-box-clr-2 {
  background-color: rgba(36, 138, 61, 0.06);
  border-color: rgba(36, 138, 61, 0.3);
  color: rgb(36, 138, 61);
}
@media (prefers-color-scheme: dark) {
  .atuta-box-clr-2 {
    background-color: rgba(43.8, 188.4, 69.4, 0.12);
    border-color: rgba(43.8, 188.4, 69.4, 0.3);
    color: rgb(43.8, 188.4, 69.4);
  }
}

.atuta-box-clr-3 {
  background-color: rgba(173, 68, 171, 0.06);
  border-color: rgba(173, 68, 171, 0.3);
  color: rgb(173, 68, 171);
}
@media (prefers-color-scheme: dark) {
  .atuta-box-clr-3 {
    background-color: rgba(218, 143, 255, 0.12);
    border-color: rgba(218, 143, 255, 0.3);
    color: rgb(218, 143, 255);
  }
}

.atuta-box-clr-4 {
  background-color: rgba(178, 80, 0, 0.06);
  border-color: rgba(178, 80, 0, 0.3);
  color: rgb(178, 80, 0);
}
@media (prefers-color-scheme: dark) {
  .atuta-box-clr-4 {
    background-color: rgba(255, 212, 38, 0.12);
    border-color: rgba(255, 212, 38, 0.3);
    color: rgb(255, 212, 38);
  }
}

.more-sounds-button,
.play-sound {
  background-color: transparent;
  border-color: rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .more-sounds-button,
  .play-sound {
    background-color: transparent;
    border-color: rgba(119, 119, 127, 0.6);
    color: rgb(221, 221, 232);
  }
}

.free-text-t1-play-sound {
  border-color: rgba(91, 91, 96, 0.15);
  color: rgba(28, 28, 30, 0.25);
}
@media (prefers-color-scheme: dark) {
  .free-text-t1-play-sound {
    border-color: rgba(119, 119, 127, 0.3);
    color: rgba(221, 221, 232, 0.35);
  }
}

.free-text-ordinal {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .free-text-ordinal {
    color: rgb(149, 149, 157);
  }
}

.play-sound-container .waiting {
  color: rgb(153.1034482759, 153.1034482759, 159.8965517241);
}
@media (prefers-color-scheme: dark) {
  .play-sound-container .waiting {
    color: rgb(105.2, 105.2, 110.8);
  }
}
.play-sound-container .accent-name-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .play-sound-container .accent-name-container {
    color: rgb(149, 149, 157);
  }
}

.ipa,
.free-text-ipa {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .ipa,
  .free-text-ipa {
    color: rgb(149, 149, 157);
  }
}
.ipa.playing-sound,
.free-text-ipa.playing-sound {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  .ipa.playing-sound,
  .free-text-ipa.playing-sound {
    color: rgb(221, 221, 232);
  }
}

.ipa-info {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .ipa-info {
    color: rgb(149, 149, 157);
  }
}

.tag-highlight {
  color: deeppink;
}
@media (prefers-color-scheme: dark) {
  .tag-highlight {
    color: rgb(255, 71, 170.4382978723);
  }
}

.tr-backlink-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  .tr-backlink-container {
    color: rgb(149, 149, 157);
  }
}

#wiktionary-datadump {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #wiktionary-datadump {
    color: rgb(149, 149, 157);
  }
}

body {
  background-color: rgb(242, 242, 247);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(28, 28, 30);
  }
}

a {
  color: rgb(51, 102, 204);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: rgb(133, 177, 255);
  }
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(121, 92, 178);
}
@media (prefers-color-scheme: dark) {
  a:visited {
    color: rgb(186, 159, 239);
  }
}
a:active {
  color: orange;
}
@media (prefers-color-scheme: dark) {
  a:active {
    color: rgb(188, 90, 0);
  }
}

#clear-text {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #clear-text {
    color: rgb(149, 149, 157);
  }
}

#autofocus-tip-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #autofocus-tip-container {
    color: rgb(149, 149, 157);
  }
}

kbd {
  background-color: rgb(242, 242, 247);
  border-color: rgba(91, 91, 96, 0.29);
  box-shadow: 0 1px 1px rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  kbd {
    background-color: rgb(28, 28, 30);
    border-color: rgb(122.5, 122.5, 132.5);
    box-shadow: 0 1px 1px rgb(122.5, 122.5, 132.5);
    color: rgb(221, 221, 232);
  }
}

#searchbar {
  background-color: #fff;
  border-color: rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #searchbar {
    background-color: rgb(54, 54, 57);
    border-color: rgb(54, 54, 57);
    color: rgb(221, 221, 232);
  }
}
#searchbar::placeholder {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #searchbar::placeholder {
    color: rgb(149, 149, 157);
  }
}
#searchbar:focus {
  border: 1px solid rgb(51, 102, 204);
}
@media (prefers-color-scheme: dark) {
  #searchbar:focus {
    border: 1px solid rgb(133, 177, 255);
  }
}

body {
  margin: 0 auto 50px;
}

#title {
  -webkit-text-stroke-color: deeppink;
  -webkit-text-stroke-width: 3px;
  color: transparent;
  direction: rtl;
  font-family: "Noto Sans Syriac";
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #title {
    -webkit-text-stroke-width: 0.390625vw;
    font-size: 11.71875vw;
    margin-top: 6.5104166667vw;
  }
}
@media screen and (max-width: 480px) {
  #title {
    -webkit-text-stroke-width: 0.5208333333vw;
  }
}

#subtitle {
  color: deeppink;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-top: -18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #subtitle {
    font-size: calc(12px + 2.6041666667vw);
    margin-top: -2.34375vw;
  }
}
@media screen and (max-width: 480px) {
  #subtitle {
    font-weight: 400;
  }
}

#created-by-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #created-by-container {
    color: rgb(221, 221, 232);
  }
}

#backlink-promotion-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #backlink-promotion-container {
    color: rgb(221, 221, 232);
  }
}

.webapp-backlink-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.webapp-backlink-href {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.creator-backlink-href {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  text-decoration: underline;
}

#app-container {
  margin: 0 auto;
  max-width: 582px;
}

#searchbar-container {
  margin: 32px 16px 8px;
  position: relative;
}

#clear-text {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 12px 16px 12px 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#clear-text.clear-aii-text {
  left: 0;
  padding: 12px 12px 12px 16px;
  right: auto;
}

#autofocus-tip-container {
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (width <= 1011px) {
  #autofocus-tip-container {
    display: none !important;
  }
}

kbd {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  padding: 2px 4px;
}

#searchbar {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  direction: ltr;
  display: block;
  line-height: 2;
  outline: 0;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 46px;
  padding-top: 6px;
  width: 100%;
}
#searchbar.aii-search-text {
  direction: rtl;
  padding-left: 46px;
  padding-right: 16px;
  text-indent: 4px;
}

#search-results {
  margin: 20px 0;
}

#numbers-table {
  margin: 20px 36px;
}
#numbers-table .more-info {
  margin: 0;
}

#tagged-results-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: none;
  margin: 20px 36px;
  padding: 0;
}
#tagged-results-meta #matched-tag {
  font-weight: 500;
}

#top-tags-menu {
  margin: 20px 16px 20px 36px;
}

.top-tags-group {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 8px 0 8px 16px;
  padding: 0;
}
.top-tags-group > li {
  list-style-type: none;
}
.top-tags-group:not(.always-show) {
  display: none;
}

.top-tags-items {
  margin: 8px 0 8px 16px;
  padding: 0;
}
.top-tags-items > li {
  display: inline-block;
}
.top-tags-items > li:not(:last-child)::after {
  content: " |";
  margin-left: 3px;
  margin-right: 6px;
}
.top-tags-items > li.hide-divider::after {
  content: "";
}
.top-tags-items > li:not(.always-show) {
  display: none;
}

.top-tag-anchor.exact-search-match {
  font-weight: 500;
  pointer-events: none;
}
.top-tag-anchor .highlighted {
  font-weight: 700;
}

.tag-menu-btn-l2 .expandable-btn-text .highlighted {
  font-weight: 500;
}

.expandable-btn {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 0;
}
.expandable-btn .expandable-btn-text {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.expandable-btn .expandable-btn-icon {
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}
.expandable-btn .expandable-btn-icon.expandable-btn-icon-green, .expandable-btn .expandable-btn-icon.expandable-btn-icon-red, .expandable-btn .expandable-btn-icon.expandable-btn-icon-blue {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.expandable-btn .expandable-btn-icon.expandable-btn-icon-red {
  margin-left: -17px;
}
.expandable-btn .expandable-btn-icon.expandable-btn-icon-blue {
  margin-left: -17px;
}
.expandable-btn .expandable-btn-icon.expanded {
  transform: rotate(90deg);
}
.expandable-btn .expandable-btn-icon.expanded.expandable-btn-icon-red {
  margin-left: -24px;
  transition: transform 200ms, margin-left 200ms;
}
.expandable-btn .expandable-btn-icon.expanded.expandable-btn-icon-blue {
  margin-left: -24px;
  transition: transform 200ms, margin-left 200ms;
}

.show-gloss-terms-btn .expandable-btn-icon,
.show-examples-btn .expandable-btn-icon,
.show-other-forms-btn .expandable-btn-icon {
  transition: transform 200ms;
}

.free-text-search-result {
  border-radius: 12px;
  display: block;
  margin: 0 16px 16px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-decoration: none;
}
.free-text-search-result.colorful-verb::after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.free-text-search-result:hover, .free-text-search-result:visited, .free-text-search-result:active {
  text-decoration: none;
}
.free-text-search-result > .aii-v-word-tr-container {
  margin-bottom: 8px;
}

.search-result {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 8px;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
}

.wiktionary-link-container {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-top: -8px;
  padding-bottom: 4px;
  text-align: right;
}
.wiktionary-link-container span {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}
.wiktionary-link-container a {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  font-family: "Noto Sans Syriac";
}
.wiktionary-link-container a.indent-word {
  margin-right: 5px;
}
.wiktionary-link-container a.indent-word-more {
  margin-right: 8px;
}

button {
  touch-action: manipulation;
}

.aii-v-word-container {
  padding-bottom: 40px;
}
.aii-v-word-container.show-first {
  order: -1;
}

.aii-v-word {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 30.8px;
  padding-bottom: 6px;
  text-align: left;
}
.aii-v-word .highlighted, .aii-v-word.exact-aii-search-match {
  font-weight: 500;
}
.aii-v-word .atuta-box-large {
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  margin-right: 2px;
  padding: 0 5px;
}
.aii-v-word .atuta-box-large::before {
  content: "‌";
}

.aii-v-word-tr-container {
  align-items: center;
  display: flex;
}
.aii-v-word-tr-container .aii-v-word-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.aii-v-word-tr-container .aii-v-word-tr .highlighted {
  font-weight: 500;
}

.aii-v-meta-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-top: 6px;
}

.jsonline {
  padding-top: 16px;
}

.pos {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  align-items: center;
  display: flex;
  gap: 6px;
}
.pos > * {
  align-self: flex-end;
}
.pos .more-defs-button-container {
  border-radius: 19px;
  cursor: pointer;
  flex-shrink: 0;
  height: 38px;
  margin-left: auto;
  padding: 0;
  width: 38px;
}
.pos .more-defs-button-container.not-verb-conj-button {
  border-style: solid;
  border-width: 1px;
}
.pos .more-defs-button-container.verb-conj-button {
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border: 2px solid transparent;
}
.pos .more-defs-button-container.verb-conj-button .more-defs-button {
  margin-top: 3px;
}
.pos .more-defs-button-container .more-defs-button {
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
  margin-top: 4px;
  transition: transform 200ms;
}
.pos .more-defs-button-container .more-defs-button.expanded {
  transform: rotate(180deg);
}

.free-text-t1,
.free-text-t2 {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 16px;
}

.free-text-t1-ipa-container {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}
.free-text-t1-ipa-container .free-text-ordinal {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.free-text-t1-ipa-container .free-text-t1-play-sound {
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  margin-right: 8px;
  padding: 6px;
}

.free-text-ipa {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-family: sans-serif;
  overflow-wrap: anywhere;
  white-space: normal;
}

.free-text-senses {
  margin: 0;
  padding-left: 34px;
}

.senses {
  margin: 0;
  padding-left: 34px;
  padding-top: 6px;
}
.senses.only-one-gloss {
  list-style-type: none;
}

.gloss-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.free-text-gloss {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, "Noto Sans Syriac Eastern", sans-serif;
  font-size: 14px;
}
.free-text-gloss .highlighted {
  font-weight: 500;
}

.gloss {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, "Noto Sans Syriac Eastern", sans-serif;
  font-size: 14px;
}
.gloss .highlighted {
  font-weight: 500;
}

.t3-categories {
  padding: 0;
}

.t3-categories > li {
  display: inline-block;
}
.t3-categories > li:not(:last-child)::after {
  content: " |";
  margin-left: 3px;
  margin-right: 6px;
}

.t3-linkages-and-examples {
  display: none;
}
.t3-linkages-and-examples > .example-row {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
}
.t3-linkages-and-examples > .example-row .example-row-vals {
  border-left-style: solid;
  border-left-width: 3px;
  padding: 8px 0;
  padding-left: 12px;
}

.more-info {
  display: none;
}
.more-info.has-heading {
  margin: 24px 0;
}

.infl-row {
  align-items: baseline;
  display: flex;
  gap: 8px;
  padding: 2px 0;
}
.infl-row.is-heading {
  align-items: end;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 4px;
}
.infl-row .infl-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.infl-row .infl-vals {
  margin-left: auto;
}

.more-info > .rows-y-padding {
  margin: 8px 0;
}

.headered-rows > .rows-y-padding {
  margin: 12px 0;
}
.headered-rows > .rows-y-padding:first-child {
  margin-top: 0;
}
.headered-rows > .rows-y-padding:last-child {
  margin-bottom: 0;
}

.cog-val-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding-bottom: 7px;
  padding-top: 4px;
  text-align: right;
}

.infl-val-container {
  align-items: baseline;
  column-gap: 4px;
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  text-align: right;
}
.infl-val-container .infl-val {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
}
.infl-val-container .infl-val.does-match {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 500;
  line-height: 1.4;
  font-size: 19.6px;
}
.infl-val-container .infl-val-eng {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.infl-val-container .infl-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
  direction: ltr;
}
.infl-val-container .infl-tr.does-match {
  font-weight: 500;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
}
.infl-val-container .infl-val-anchor {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
}

.atwateh-boxes {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
  margin: 8px 0;
}

.atuta-box-small {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  margin: 0 1px;
  padding: 2px 4px;
}
.atuta-box-small.break-ligatures::before {
  content: "‌";
}
.atuta-box-small.break-ligatures::after {
  content: "‌";
}

.atuta-box-small-is-first {
  margin-right: 0;
}

.sound-containers:not(.always-show) {
  display: none;
}
.sound-containers .sound-container {
  padding-top: 12px;
}

.more-sounds-button {
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  height: 38px;
  margin-right: 8px;
  padding: 0;
  width: 38px;
}
.more-sounds-button::before {
  content: "select_to_speak";
}
.more-sounds-button.expanded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  transform: rotate(90deg);
}
.more-sounds-button.expanded::before {
  content: "collapse_content";
}

.play-sound-container {
  align-items: center;
  display: flex;
}
.play-sound-container .play-sound {
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 24px;
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
  padding: 6px;
  transition: border 200ms, color 200ms, font-variation-settings 200ms;
}
.play-sound-container .play-sound.playing-sound {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 24;
}
.play-sound-container .accent-name-container {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin-left: 8px;
}

.sound-meta-container {
  display: none;
  margin-bottom: 12px;
  margin-left: 44px;
}

.ipa {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-family: sans-serif;
  margin-left: 8px;
  overflow-wrap: anywhere;
  transition: color 200ms;
}

.ipa-info {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin-left: 46px;
}

.tag-highlight {
  font-weight: 500;
}

.tr-backlink-container {
  font-style: normal;
  margin-top: -4px;
}

#wiktionary-datadump {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin: 20px 0;
  padding-left: 36px;
  padding-right: 36px;
  text-align: justify;
}

.example-text {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 19.6px;
  text-align: right;
}

.example-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
}

.example-english {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.tier1-tag,
.tier2-tag,
.tier3-tag,
.l-inline-tag,
.in-numbers-table,
.top-tag-anchor {
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
