@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap");
@font-face {
  font-family: "Noto Sans Syriac Western";
  font-weight: 100 900;
  src: url("../../fonts/NotoSansSyriacWestern[wght].ttf") format("truetype");
}
@keyframes blur-img {
  0% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
  4% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
  44% {
    filter: blur(0) grayscale(40%);
  }
  52% {
    filter: blur(0) grayscale(40%);
  }
  92% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
  100% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
}
@keyframes glow-symbol {
  0% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
  4% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
  44% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0);
  }
  52% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0);
  }
  92% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
}
@keyframes oscillate-title {
  0% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  4% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, #fff 80%, #fff 90%, rgba(255, 255, 255, 0.4) 90%, rgba(255, 255, 255, 0.4) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  8% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, #fff 70%, #fff 80%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.4) 90%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0.3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  12% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #fff 60%, #fff 70%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0.2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  16% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #fff 50%, #fff 60%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  20% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #fff 40%, #fff 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  24% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, #fff 30%, #fff 40%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  28% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, #fff 20%, #fff 30%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  32% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, #fff 10%, #fff 20%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  36% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  40% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  44% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  48% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  52% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 10%, #fff 10%, #fff 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  56% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.4) 20%, #fff 20%, #fff 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  60% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.4) 30%, #fff 30%, #fff 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  64% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.4) 40%, #fff 40%, #fff 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  68% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.4) 50%, #fff 50%, #fff 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  72% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 60%, #fff 60%, #fff 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  76% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.4) 70%, #fff 70%, #fff 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  80% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0.4) 80%, #fff 80%, #fff 90%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  84% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.4) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  88% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.3) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  92% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  96% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0.1) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
@keyframes my-name-stroke {
  0% {
    -webkit-text-stroke-color: white;
  }
  4% {
    -webkit-text-stroke-color: white;
  }
  44% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }
  52% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }
  92% {
    -webkit-text-stroke-color: white;
  }
  100% {
    -webkit-text-stroke-color: white;
  }
}
@keyframes perspectivize-lyric {
  0% {
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1188571429), 0 2px 0 rgba(255, 255, 255, 0.1177142857), 0 3px 0 rgba(255, 255, 255, 0.1165714286), 0 4px 0 rgba(255, 255, 255, 0.1154285714), 0 5px 0 rgba(255, 255, 255, 0.1142857143), 0 6px 0 rgba(255, 255, 255, 0.1131428571), 0 7px 0 rgba(255, 255, 255, 0.112), 0 8px 0 rgba(255, 255, 255, 0.1108571429), 0 9px 0 rgba(255, 255, 255, 0.1097142857), 0 10px 0 rgba(255, 255, 255, 0.1085714286), 0 11px 0 rgba(255, 255, 255, 0.1074285714), 0 12px 0 rgba(255, 255, 255, 0.1062857143), 0 13px 0 rgba(255, 255, 255, 0.1051428571), 0 14px 0 rgba(255, 255, 255, 0.104), 0 15px 0 rgba(255, 255, 255, 0.1028571429), 0 16px 0 rgba(255, 255, 255, 0.1017142857), 0 17px 0 rgba(255, 255, 255, 0.1005714286), 0 18px 0 rgba(255, 255, 255, 0.0994285714), 0 19px 0 rgba(255, 255, 255, 0.0982857143), 0 20px 0 rgba(255, 255, 255, 0.0971428571), 0 21px 0 rgba(255, 255, 255, 0.096), 0 22px 0 rgba(255, 255, 255, 0.0948571429), 0 23px 0 rgba(255, 255, 255, 0.0937142857), 0 24px 0 rgba(255, 255, 255, 0.0925714286), 0 25px 0 rgba(255, 255, 255, 0.0914285714), 0 26px 0 rgba(255, 255, 255, 0.0902857143), 0 27px 0 rgba(255, 255, 255, 0.0891428571), 0 28px 0 rgba(255, 255, 255, 0.088), 0 29px 0 rgba(255, 255, 255, 0.0868571429), 0 30px 0 rgba(255, 255, 255, 0.0857142857), 0 31px 0 rgba(255, 255, 255, 0.0845714286), 0 32px 0 rgba(255, 255, 255, 0.0834285714), 0 33px 0 rgba(255, 255, 255, 0.0822857143), 0 34px 0 rgba(255, 255, 255, 0.0811428571), 0 35px 0 rgba(255, 255, 255, 0.08), 0 36px 0 rgba(255, 255, 255, 0.0788571429), 0 37px 0 rgba(255, 255, 255, 0.0777142857), 0 38px 0 rgba(255, 255, 255, 0.0765714286), 0 39px 0 rgba(255, 255, 255, 0.0754285714), 0 40px 0 rgba(255, 255, 255, 0.0742857143), 0 41px 0 rgba(255, 255, 255, 0.0731428571), 0 42px 0 rgba(255, 255, 255, 0.072), 0 43px 0 rgba(255, 255, 255, 0.0708571429), 0 44px 0 rgba(255, 255, 255, 0.0697142857), 0 45px 0 rgba(255, 255, 255, 0.0685714286), 0 46px 0 rgba(255, 255, 255, 0.0674285714), 0 47px 0 rgba(255, 255, 255, 0.0662857143), 0 48px 0 rgba(255, 255, 255, 0.0651428571), 0 49px 0 rgba(255, 255, 255, 0.064), 0 50px 0 rgba(255, 255, 255, 0.0628571429), 0 51px 0 rgba(255, 255, 255, 0.0617142857), 0 52px 0 rgba(255, 255, 255, 0.0605714286), 0 53px 0 rgba(255, 255, 255, 0.0594285714), 0 54px 0 rgba(255, 255, 255, 0.0582857143), 0 55px 0 rgba(255, 255, 255, 0.0571428571), 0 56px 0 rgba(255, 255, 255, 0.056), 0 57px 0 rgba(255, 255, 255, 0.0548571429), 0 58px 0 rgba(255, 255, 255, 0.0537142857), 0 59px 0 rgba(255, 255, 255, 0.0525714286), 0 60px 0 rgba(255, 255, 255, 0.0514285714), 0 61px 0 rgba(255, 255, 255, 0.0502857143), 0 62px 0 rgba(255, 255, 255, 0.0491428571), 0 63px 0 rgba(255, 255, 255, 0.048), 0 64px 0 rgba(255, 255, 255, 0.0468571429), 0 65px 0 rgba(255, 255, 255, 0.0457142857), 0 66px 0 rgba(255, 255, 255, 0.0445714286), 0 67px 0 rgba(255, 255, 255, 0.0434285714), 0 68px 0 rgba(255, 255, 255, 0.0422857143), 0 69px 0 rgba(255, 255, 255, 0.0411428571), 0 70px 0 rgba(255, 255, 255, 0.04), 0 71px 0 rgba(255, 255, 255, 0.0388571429), 0 72px 0 rgba(255, 255, 255, 0.0377142857), 0 73px 0 rgba(255, 255, 255, 0.0365714286), 0 74px 0 rgba(255, 255, 255, 0.0354285714), 0 75px 0 rgba(255, 255, 255, 0.0342857143), 0 76px 0 rgba(255, 255, 255, 0.0331428571), 0 77px 0 rgba(255, 255, 255, 0.032), 0 78px 0 rgba(255, 255, 255, 0.0308571429), 0 79px 0 rgba(255, 255, 255, 0.0297142857), 0 80px 0 rgba(255, 255, 255, 0.0285714286), 0 81px 0 rgba(255, 255, 255, 0.0274285714), 0 82px 0 rgba(255, 255, 255, 0.0262857143), 0 83px 0 rgba(255, 255, 255, 0.0251428571), 0 84px 0 rgba(255, 255, 255, 0.024), 0 85px 0 rgba(255, 255, 255, 0.0228571429), 0 86px 0 rgba(255, 255, 255, 0.0217142857), 0 87px 0 rgba(255, 255, 255, 0.0205714286), 0 88px 0 rgba(255, 255, 255, 0.0194285714), 0 89px 0 rgba(255, 255, 255, 0.0182857143), 0 90px 0 rgba(255, 255, 255, 0.0171428571), 0 91px 0 rgba(255, 255, 255, 0.016), 0 92px 0 rgba(255, 255, 255, 0.0148571429), 0 93px 0 rgba(255, 255, 255, 0.0137142857), 0 94px 0 rgba(255, 255, 255, 0.0125714286), 0 95px 0 rgba(255, 255, 255, 0.0114285714), 0 96px 0 rgba(255, 255, 255, 0.0102857143), 0 97px 0 rgba(255, 255, 255, 0.0091428571), 0 98px 0 rgba(255, 255, 255, 0.008), 0 99px 0 rgba(255, 255, 255, 0.0068571429), 0 100px 0 rgba(255, 255, 255, 0.0057142857), 0 101px 0 rgba(255, 255, 255, 0.0045714286), 0 102px 0 rgba(255, 255, 255, 0.0034285714), 0 103px 0 rgba(255, 255, 255, 0.0022857143), 0 104px 0 rgba(255, 255, 255, 0.0011428571), 0 105px 0 rgba(255, 255, 255, 0);
    transform: perspective(290px) rotateY(20deg);
  }
  4% {
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1188571429), 0 2px 0 rgba(255, 255, 255, 0.1177142857), 0 3px 0 rgba(255, 255, 255, 0.1165714286), 0 4px 0 rgba(255, 255, 255, 0.1154285714), 0 5px 0 rgba(255, 255, 255, 0.1142857143), 0 6px 0 rgba(255, 255, 255, 0.1131428571), 0 7px 0 rgba(255, 255, 255, 0.112), 0 8px 0 rgba(255, 255, 255, 0.1108571429), 0 9px 0 rgba(255, 255, 255, 0.1097142857), 0 10px 0 rgba(255, 255, 255, 0.1085714286), 0 11px 0 rgba(255, 255, 255, 0.1074285714), 0 12px 0 rgba(255, 255, 255, 0.1062857143), 0 13px 0 rgba(255, 255, 255, 0.1051428571), 0 14px 0 rgba(255, 255, 255, 0.104), 0 15px 0 rgba(255, 255, 255, 0.1028571429), 0 16px 0 rgba(255, 255, 255, 0.1017142857), 0 17px 0 rgba(255, 255, 255, 0.1005714286), 0 18px 0 rgba(255, 255, 255, 0.0994285714), 0 19px 0 rgba(255, 255, 255, 0.0982857143), 0 20px 0 rgba(255, 255, 255, 0.0971428571), 0 21px 0 rgba(255, 255, 255, 0.096), 0 22px 0 rgba(255, 255, 255, 0.0948571429), 0 23px 0 rgba(255, 255, 255, 0.0937142857), 0 24px 0 rgba(255, 255, 255, 0.0925714286), 0 25px 0 rgba(255, 255, 255, 0.0914285714), 0 26px 0 rgba(255, 255, 255, 0.0902857143), 0 27px 0 rgba(255, 255, 255, 0.0891428571), 0 28px 0 rgba(255, 255, 255, 0.088), 0 29px 0 rgba(255, 255, 255, 0.0868571429), 0 30px 0 rgba(255, 255, 255, 0.0857142857), 0 31px 0 rgba(255, 255, 255, 0.0845714286), 0 32px 0 rgba(255, 255, 255, 0.0834285714), 0 33px 0 rgba(255, 255, 255, 0.0822857143), 0 34px 0 rgba(255, 255, 255, 0.0811428571), 0 35px 0 rgba(255, 255, 255, 0.08), 0 36px 0 rgba(255, 255, 255, 0.0788571429), 0 37px 0 rgba(255, 255, 255, 0.0777142857), 0 38px 0 rgba(255, 255, 255, 0.0765714286), 0 39px 0 rgba(255, 255, 255, 0.0754285714), 0 40px 0 rgba(255, 255, 255, 0.0742857143), 0 41px 0 rgba(255, 255, 255, 0.0731428571), 0 42px 0 rgba(255, 255, 255, 0.072), 0 43px 0 rgba(255, 255, 255, 0.0708571429), 0 44px 0 rgba(255, 255, 255, 0.0697142857), 0 45px 0 rgba(255, 255, 255, 0.0685714286), 0 46px 0 rgba(255, 255, 255, 0.0674285714), 0 47px 0 rgba(255, 255, 255, 0.0662857143), 0 48px 0 rgba(255, 255, 255, 0.0651428571), 0 49px 0 rgba(255, 255, 255, 0.064), 0 50px 0 rgba(255, 255, 255, 0.0628571429), 0 51px 0 rgba(255, 255, 255, 0.0617142857), 0 52px 0 rgba(255, 255, 255, 0.0605714286), 0 53px 0 rgba(255, 255, 255, 0.0594285714), 0 54px 0 rgba(255, 255, 255, 0.0582857143), 0 55px 0 rgba(255, 255, 255, 0.0571428571), 0 56px 0 rgba(255, 255, 255, 0.056), 0 57px 0 rgba(255, 255, 255, 0.0548571429), 0 58px 0 rgba(255, 255, 255, 0.0537142857), 0 59px 0 rgba(255, 255, 255, 0.0525714286), 0 60px 0 rgba(255, 255, 255, 0.0514285714), 0 61px 0 rgba(255, 255, 255, 0.0502857143), 0 62px 0 rgba(255, 255, 255, 0.0491428571), 0 63px 0 rgba(255, 255, 255, 0.048), 0 64px 0 rgba(255, 255, 255, 0.0468571429), 0 65px 0 rgba(255, 255, 255, 0.0457142857), 0 66px 0 rgba(255, 255, 255, 0.0445714286), 0 67px 0 rgba(255, 255, 255, 0.0434285714), 0 68px 0 rgba(255, 255, 255, 0.0422857143), 0 69px 0 rgba(255, 255, 255, 0.0411428571), 0 70px 0 rgba(255, 255, 255, 0.04), 0 71px 0 rgba(255, 255, 255, 0.0388571429), 0 72px 0 rgba(255, 255, 255, 0.0377142857), 0 73px 0 rgba(255, 255, 255, 0.0365714286), 0 74px 0 rgba(255, 255, 255, 0.0354285714), 0 75px 0 rgba(255, 255, 255, 0.0342857143), 0 76px 0 rgba(255, 255, 255, 0.0331428571), 0 77px 0 rgba(255, 255, 255, 0.032), 0 78px 0 rgba(255, 255, 255, 0.0308571429), 0 79px 0 rgba(255, 255, 255, 0.0297142857), 0 80px 0 rgba(255, 255, 255, 0.0285714286), 0 81px 0 rgba(255, 255, 255, 0.0274285714), 0 82px 0 rgba(255, 255, 255, 0.0262857143), 0 83px 0 rgba(255, 255, 255, 0.0251428571), 0 84px 0 rgba(255, 255, 255, 0.024), 0 85px 0 rgba(255, 255, 255, 0.0228571429), 0 86px 0 rgba(255, 255, 255, 0.0217142857), 0 87px 0 rgba(255, 255, 255, 0.0205714286), 0 88px 0 rgba(255, 255, 255, 0.0194285714), 0 89px 0 rgba(255, 255, 255, 0.0182857143), 0 90px 0 rgba(255, 255, 255, 0.0171428571), 0 91px 0 rgba(255, 255, 255, 0.016), 0 92px 0 rgba(255, 255, 255, 0.0148571429), 0 93px 0 rgba(255, 255, 255, 0.0137142857), 0 94px 0 rgba(255, 255, 255, 0.0125714286), 0 95px 0 rgba(255, 255, 255, 0.0114285714), 0 96px 0 rgba(255, 255, 255, 0.0102857143), 0 97px 0 rgba(255, 255, 255, 0.0091428571), 0 98px 0 rgba(255, 255, 255, 0.008), 0 99px 0 rgba(255, 255, 255, 0.0068571429), 0 100px 0 rgba(255, 255, 255, 0.0057142857), 0 101px 0 rgba(255, 255, 255, 0.0045714286), 0 102px 0 rgba(255, 255, 255, 0.0034285714), 0 103px 0 rgba(255, 255, 255, 0.0022857143), 0 104px 0 rgba(255, 255, 255, 0.0011428571), 0 105px 0 rgba(255, 255, 255, 0);
    transform: perspective(290px) rotateY(20deg);
  }
  44% {
    font-weight: 200;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1181538462), 0 2px 0 rgba(255, 255, 255, 0.1163076923), 0 3px 0 rgba(255, 255, 255, 0.1144615385), 0 4px 0 rgba(255, 255, 255, 0.1126153846), 0 5px 0 rgba(255, 255, 255, 0.1107692308), 0 6px 0 rgba(255, 255, 255, 0.1089230769), 0 7px 0 rgba(255, 255, 255, 0.1070769231), 0 8px 0 rgba(255, 255, 255, 0.1052307692), 0 9px 0 rgba(255, 255, 255, 0.1033846154), 0 10px 0 rgba(255, 255, 255, 0.1015384615), 0 11px 0 rgba(255, 255, 255, 0.0996923077), 0 12px 0 rgba(255, 255, 255, 0.0978461538), 0 13px 0 rgba(255, 255, 255, 0.096), 0 14px 0 rgba(255, 255, 255, 0.0941538462), 0 15px 0 rgba(255, 255, 255, 0.0923076923), 0 16px 0 rgba(255, 255, 255, 0.0904615385), 0 17px 0 rgba(255, 255, 255, 0.0886153846), 0 18px 0 rgba(255, 255, 255, 0.0867692308), 0 19px 0 rgba(255, 255, 255, 0.0849230769), 0 20px 0 rgba(255, 255, 255, 0.0830769231), 0 21px 0 rgba(255, 255, 255, 0.0812307692), 0 22px 0 rgba(255, 255, 255, 0.0793846154), 0 23px 0 rgba(255, 255, 255, 0.0775384615), 0 24px 0 rgba(255, 255, 255, 0.0756923077), 0 25px 0 rgba(255, 255, 255, 0.0738461538), 0 26px 0 rgba(255, 255, 255, 0.072), 0 27px 0 rgba(255, 255, 255, 0.0701538462), 0 28px 0 rgba(255, 255, 255, 0.0683076923), 0 29px 0 rgba(255, 255, 255, 0.0664615385), 0 30px 0 rgba(255, 255, 255, 0.0646153846), 0 31px 0 rgba(255, 255, 255, 0.0627692308), 0 32px 0 rgba(255, 255, 255, 0.0609230769), 0 33px 0 rgba(255, 255, 255, 0.0590769231), 0 34px 0 rgba(255, 255, 255, 0.0572307692), 0 35px 0 rgba(255, 255, 255, 0.0553846154), 0 36px 0 rgba(255, 255, 255, 0.0535384615), 0 37px 0 rgba(255, 255, 255, 0.0516923077), 0 38px 0 rgba(255, 255, 255, 0.0498461538), 0 39px 0 rgba(255, 255, 255, 0.048), 0 40px 0 rgba(255, 255, 255, 0.0461538462), 0 41px 0 rgba(255, 255, 255, 0.0443076923), 0 42px 0 rgba(255, 255, 255, 0.0424615385), 0 43px 0 rgba(255, 255, 255, 0.0406153846), 0 44px 0 rgba(255, 255, 255, 0.0387692308), 0 45px 0 rgba(255, 255, 255, 0.0369230769), 0 46px 0 rgba(255, 255, 255, 0.0350769231), 0 47px 0 rgba(255, 255, 255, 0.0332307692), 0 48px 0 rgba(255, 255, 255, 0.0313846154), 0 49px 0 rgba(255, 255, 255, 0.0295384615), 0 50px 0 rgba(255, 255, 255, 0.0276923077), 0 51px 0 rgba(255, 255, 255, 0.0258461538), 0 52px 0 rgba(255, 255, 255, 0.024), 0 53px 0 rgba(255, 255, 255, 0.0221538462), 0 54px 0 rgba(255, 255, 255, 0.0203076923), 0 55px 0 rgba(255, 255, 255, 0.0184615385), 0 56px 0 rgba(255, 255, 255, 0.0166153846), 0 57px 0 rgba(255, 255, 255, 0.0147692308), 0 58px 0 rgba(255, 255, 255, 0.0129230769), 0 59px 0 rgba(255, 255, 255, 0.0110769231), 0 60px 0 rgba(255, 255, 255, 0.0092307692), 0 61px 0 rgba(255, 255, 255, 0.0073846154), 0 62px 0 rgba(255, 255, 255, 0.0055384615), 0 63px 0 rgba(255, 255, 255, 0.0036923077), 0 64px 0 rgba(255, 255, 255, 0.0018461538), 0 65px 0 rgba(255, 255, 255, 0);
    transform: perspective(1000px) rotateY(20deg);
  }
  52% {
    font-weight: 200;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1181538462), 0 2px 0 rgba(255, 255, 255, 0.1163076923), 0 3px 0 rgba(255, 255, 255, 0.1144615385), 0 4px 0 rgba(255, 255, 255, 0.1126153846), 0 5px 0 rgba(255, 255, 255, 0.1107692308), 0 6px 0 rgba(255, 255, 255, 0.1089230769), 0 7px 0 rgba(255, 255, 255, 0.1070769231), 0 8px 0 rgba(255, 255, 255, 0.1052307692), 0 9px 0 rgba(255, 255, 255, 0.1033846154), 0 10px 0 rgba(255, 255, 255, 0.1015384615), 0 11px 0 rgba(255, 255, 255, 0.0996923077), 0 12px 0 rgba(255, 255, 255, 0.0978461538), 0 13px 0 rgba(255, 255, 255, 0.096), 0 14px 0 rgba(255, 255, 255, 0.0941538462), 0 15px 0 rgba(255, 255, 255, 0.0923076923), 0 16px 0 rgba(255, 255, 255, 0.0904615385), 0 17px 0 rgba(255, 255, 255, 0.0886153846), 0 18px 0 rgba(255, 255, 255, 0.0867692308), 0 19px 0 rgba(255, 255, 255, 0.0849230769), 0 20px 0 rgba(255, 255, 255, 0.0830769231), 0 21px 0 rgba(255, 255, 255, 0.0812307692), 0 22px 0 rgba(255, 255, 255, 0.0793846154), 0 23px 0 rgba(255, 255, 255, 0.0775384615), 0 24px 0 rgba(255, 255, 255, 0.0756923077), 0 25px 0 rgba(255, 255, 255, 0.0738461538), 0 26px 0 rgba(255, 255, 255, 0.072), 0 27px 0 rgba(255, 255, 255, 0.0701538462), 0 28px 0 rgba(255, 255, 255, 0.0683076923), 0 29px 0 rgba(255, 255, 255, 0.0664615385), 0 30px 0 rgba(255, 255, 255, 0.0646153846), 0 31px 0 rgba(255, 255, 255, 0.0627692308), 0 32px 0 rgba(255, 255, 255, 0.0609230769), 0 33px 0 rgba(255, 255, 255, 0.0590769231), 0 34px 0 rgba(255, 255, 255, 0.0572307692), 0 35px 0 rgba(255, 255, 255, 0.0553846154), 0 36px 0 rgba(255, 255, 255, 0.0535384615), 0 37px 0 rgba(255, 255, 255, 0.0516923077), 0 38px 0 rgba(255, 255, 255, 0.0498461538), 0 39px 0 rgba(255, 255, 255, 0.048), 0 40px 0 rgba(255, 255, 255, 0.0461538462), 0 41px 0 rgba(255, 255, 255, 0.0443076923), 0 42px 0 rgba(255, 255, 255, 0.0424615385), 0 43px 0 rgba(255, 255, 255, 0.0406153846), 0 44px 0 rgba(255, 255, 255, 0.0387692308), 0 45px 0 rgba(255, 255, 255, 0.0369230769), 0 46px 0 rgba(255, 255, 255, 0.0350769231), 0 47px 0 rgba(255, 255, 255, 0.0332307692), 0 48px 0 rgba(255, 255, 255, 0.0313846154), 0 49px 0 rgba(255, 255, 255, 0.0295384615), 0 50px 0 rgba(255, 255, 255, 0.0276923077), 0 51px 0 rgba(255, 255, 255, 0.0258461538), 0 52px 0 rgba(255, 255, 255, 0.024), 0 53px 0 rgba(255, 255, 255, 0.0221538462), 0 54px 0 rgba(255, 255, 255, 0.0203076923), 0 55px 0 rgba(255, 255, 255, 0.0184615385), 0 56px 0 rgba(255, 255, 255, 0.0166153846), 0 57px 0 rgba(255, 255, 255, 0.0147692308), 0 58px 0 rgba(255, 255, 255, 0.0129230769), 0 59px 0 rgba(255, 255, 255, 0.0110769231), 0 60px 0 rgba(255, 255, 255, 0.0092307692), 0 61px 0 rgba(255, 255, 255, 0.0073846154), 0 62px 0 rgba(255, 255, 255, 0.0055384615), 0 63px 0 rgba(255, 255, 255, 0.0036923077), 0 64px 0 rgba(255, 255, 255, 0.0018461538), 0 65px 0 rgba(255, 255, 255, 0);
    transform: perspective(1000px) rotateY(20deg);
  }
  92% {
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1188571429), 0 2px 0 rgba(255, 255, 255, 0.1177142857), 0 3px 0 rgba(255, 255, 255, 0.1165714286), 0 4px 0 rgba(255, 255, 255, 0.1154285714), 0 5px 0 rgba(255, 255, 255, 0.1142857143), 0 6px 0 rgba(255, 255, 255, 0.1131428571), 0 7px 0 rgba(255, 255, 255, 0.112), 0 8px 0 rgba(255, 255, 255, 0.1108571429), 0 9px 0 rgba(255, 255, 255, 0.1097142857), 0 10px 0 rgba(255, 255, 255, 0.1085714286), 0 11px 0 rgba(255, 255, 255, 0.1074285714), 0 12px 0 rgba(255, 255, 255, 0.1062857143), 0 13px 0 rgba(255, 255, 255, 0.1051428571), 0 14px 0 rgba(255, 255, 255, 0.104), 0 15px 0 rgba(255, 255, 255, 0.1028571429), 0 16px 0 rgba(255, 255, 255, 0.1017142857), 0 17px 0 rgba(255, 255, 255, 0.1005714286), 0 18px 0 rgba(255, 255, 255, 0.0994285714), 0 19px 0 rgba(255, 255, 255, 0.0982857143), 0 20px 0 rgba(255, 255, 255, 0.0971428571), 0 21px 0 rgba(255, 255, 255, 0.096), 0 22px 0 rgba(255, 255, 255, 0.0948571429), 0 23px 0 rgba(255, 255, 255, 0.0937142857), 0 24px 0 rgba(255, 255, 255, 0.0925714286), 0 25px 0 rgba(255, 255, 255, 0.0914285714), 0 26px 0 rgba(255, 255, 255, 0.0902857143), 0 27px 0 rgba(255, 255, 255, 0.0891428571), 0 28px 0 rgba(255, 255, 255, 0.088), 0 29px 0 rgba(255, 255, 255, 0.0868571429), 0 30px 0 rgba(255, 255, 255, 0.0857142857), 0 31px 0 rgba(255, 255, 255, 0.0845714286), 0 32px 0 rgba(255, 255, 255, 0.0834285714), 0 33px 0 rgba(255, 255, 255, 0.0822857143), 0 34px 0 rgba(255, 255, 255, 0.0811428571), 0 35px 0 rgba(255, 255, 255, 0.08), 0 36px 0 rgba(255, 255, 255, 0.0788571429), 0 37px 0 rgba(255, 255, 255, 0.0777142857), 0 38px 0 rgba(255, 255, 255, 0.0765714286), 0 39px 0 rgba(255, 255, 255, 0.0754285714), 0 40px 0 rgba(255, 255, 255, 0.0742857143), 0 41px 0 rgba(255, 255, 255, 0.0731428571), 0 42px 0 rgba(255, 255, 255, 0.072), 0 43px 0 rgba(255, 255, 255, 0.0708571429), 0 44px 0 rgba(255, 255, 255, 0.0697142857), 0 45px 0 rgba(255, 255, 255, 0.0685714286), 0 46px 0 rgba(255, 255, 255, 0.0674285714), 0 47px 0 rgba(255, 255, 255, 0.0662857143), 0 48px 0 rgba(255, 255, 255, 0.0651428571), 0 49px 0 rgba(255, 255, 255, 0.064), 0 50px 0 rgba(255, 255, 255, 0.0628571429), 0 51px 0 rgba(255, 255, 255, 0.0617142857), 0 52px 0 rgba(255, 255, 255, 0.0605714286), 0 53px 0 rgba(255, 255, 255, 0.0594285714), 0 54px 0 rgba(255, 255, 255, 0.0582857143), 0 55px 0 rgba(255, 255, 255, 0.0571428571), 0 56px 0 rgba(255, 255, 255, 0.056), 0 57px 0 rgba(255, 255, 255, 0.0548571429), 0 58px 0 rgba(255, 255, 255, 0.0537142857), 0 59px 0 rgba(255, 255, 255, 0.0525714286), 0 60px 0 rgba(255, 255, 255, 0.0514285714), 0 61px 0 rgba(255, 255, 255, 0.0502857143), 0 62px 0 rgba(255, 255, 255, 0.0491428571), 0 63px 0 rgba(255, 255, 255, 0.048), 0 64px 0 rgba(255, 255, 255, 0.0468571429), 0 65px 0 rgba(255, 255, 255, 0.0457142857), 0 66px 0 rgba(255, 255, 255, 0.0445714286), 0 67px 0 rgba(255, 255, 255, 0.0434285714), 0 68px 0 rgba(255, 255, 255, 0.0422857143), 0 69px 0 rgba(255, 255, 255, 0.0411428571), 0 70px 0 rgba(255, 255, 255, 0.04), 0 71px 0 rgba(255, 255, 255, 0.0388571429), 0 72px 0 rgba(255, 255, 255, 0.0377142857), 0 73px 0 rgba(255, 255, 255, 0.0365714286), 0 74px 0 rgba(255, 255, 255, 0.0354285714), 0 75px 0 rgba(255, 255, 255, 0.0342857143), 0 76px 0 rgba(255, 255, 255, 0.0331428571), 0 77px 0 rgba(255, 255, 255, 0.032), 0 78px 0 rgba(255, 255, 255, 0.0308571429), 0 79px 0 rgba(255, 255, 255, 0.0297142857), 0 80px 0 rgba(255, 255, 255, 0.0285714286), 0 81px 0 rgba(255, 255, 255, 0.0274285714), 0 82px 0 rgba(255, 255, 255, 0.0262857143), 0 83px 0 rgba(255, 255, 255, 0.0251428571), 0 84px 0 rgba(255, 255, 255, 0.024), 0 85px 0 rgba(255, 255, 255, 0.0228571429), 0 86px 0 rgba(255, 255, 255, 0.0217142857), 0 87px 0 rgba(255, 255, 255, 0.0205714286), 0 88px 0 rgba(255, 255, 255, 0.0194285714), 0 89px 0 rgba(255, 255, 255, 0.0182857143), 0 90px 0 rgba(255, 255, 255, 0.0171428571), 0 91px 0 rgba(255, 255, 255, 0.016), 0 92px 0 rgba(255, 255, 255, 0.0148571429), 0 93px 0 rgba(255, 255, 255, 0.0137142857), 0 94px 0 rgba(255, 255, 255, 0.0125714286), 0 95px 0 rgba(255, 255, 255, 0.0114285714), 0 96px 0 rgba(255, 255, 255, 0.0102857143), 0 97px 0 rgba(255, 255, 255, 0.0091428571), 0 98px 0 rgba(255, 255, 255, 0.008), 0 99px 0 rgba(255, 255, 255, 0.0068571429), 0 100px 0 rgba(255, 255, 255, 0.0057142857), 0 101px 0 rgba(255, 255, 255, 0.0045714286), 0 102px 0 rgba(255, 255, 255, 0.0034285714), 0 103px 0 rgba(255, 255, 255, 0.0022857143), 0 104px 0 rgba(255, 255, 255, 0.0011428571), 0 105px 0 rgba(255, 255, 255, 0);
    transform: perspective(290px) rotateY(20deg);
  }
  100% {
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1188571429), 0 2px 0 rgba(255, 255, 255, 0.1177142857), 0 3px 0 rgba(255, 255, 255, 0.1165714286), 0 4px 0 rgba(255, 255, 255, 0.1154285714), 0 5px 0 rgba(255, 255, 255, 0.1142857143), 0 6px 0 rgba(255, 255, 255, 0.1131428571), 0 7px 0 rgba(255, 255, 255, 0.112), 0 8px 0 rgba(255, 255, 255, 0.1108571429), 0 9px 0 rgba(255, 255, 255, 0.1097142857), 0 10px 0 rgba(255, 255, 255, 0.1085714286), 0 11px 0 rgba(255, 255, 255, 0.1074285714), 0 12px 0 rgba(255, 255, 255, 0.1062857143), 0 13px 0 rgba(255, 255, 255, 0.1051428571), 0 14px 0 rgba(255, 255, 255, 0.104), 0 15px 0 rgba(255, 255, 255, 0.1028571429), 0 16px 0 rgba(255, 255, 255, 0.1017142857), 0 17px 0 rgba(255, 255, 255, 0.1005714286), 0 18px 0 rgba(255, 255, 255, 0.0994285714), 0 19px 0 rgba(255, 255, 255, 0.0982857143), 0 20px 0 rgba(255, 255, 255, 0.0971428571), 0 21px 0 rgba(255, 255, 255, 0.096), 0 22px 0 rgba(255, 255, 255, 0.0948571429), 0 23px 0 rgba(255, 255, 255, 0.0937142857), 0 24px 0 rgba(255, 255, 255, 0.0925714286), 0 25px 0 rgba(255, 255, 255, 0.0914285714), 0 26px 0 rgba(255, 255, 255, 0.0902857143), 0 27px 0 rgba(255, 255, 255, 0.0891428571), 0 28px 0 rgba(255, 255, 255, 0.088), 0 29px 0 rgba(255, 255, 255, 0.0868571429), 0 30px 0 rgba(255, 255, 255, 0.0857142857), 0 31px 0 rgba(255, 255, 255, 0.0845714286), 0 32px 0 rgba(255, 255, 255, 0.0834285714), 0 33px 0 rgba(255, 255, 255, 0.0822857143), 0 34px 0 rgba(255, 255, 255, 0.0811428571), 0 35px 0 rgba(255, 255, 255, 0.08), 0 36px 0 rgba(255, 255, 255, 0.0788571429), 0 37px 0 rgba(255, 255, 255, 0.0777142857), 0 38px 0 rgba(255, 255, 255, 0.0765714286), 0 39px 0 rgba(255, 255, 255, 0.0754285714), 0 40px 0 rgba(255, 255, 255, 0.0742857143), 0 41px 0 rgba(255, 255, 255, 0.0731428571), 0 42px 0 rgba(255, 255, 255, 0.072), 0 43px 0 rgba(255, 255, 255, 0.0708571429), 0 44px 0 rgba(255, 255, 255, 0.0697142857), 0 45px 0 rgba(255, 255, 255, 0.0685714286), 0 46px 0 rgba(255, 255, 255, 0.0674285714), 0 47px 0 rgba(255, 255, 255, 0.0662857143), 0 48px 0 rgba(255, 255, 255, 0.0651428571), 0 49px 0 rgba(255, 255, 255, 0.064), 0 50px 0 rgba(255, 255, 255, 0.0628571429), 0 51px 0 rgba(255, 255, 255, 0.0617142857), 0 52px 0 rgba(255, 255, 255, 0.0605714286), 0 53px 0 rgba(255, 255, 255, 0.0594285714), 0 54px 0 rgba(255, 255, 255, 0.0582857143), 0 55px 0 rgba(255, 255, 255, 0.0571428571), 0 56px 0 rgba(255, 255, 255, 0.056), 0 57px 0 rgba(255, 255, 255, 0.0548571429), 0 58px 0 rgba(255, 255, 255, 0.0537142857), 0 59px 0 rgba(255, 255, 255, 0.0525714286), 0 60px 0 rgba(255, 255, 255, 0.0514285714), 0 61px 0 rgba(255, 255, 255, 0.0502857143), 0 62px 0 rgba(255, 255, 255, 0.0491428571), 0 63px 0 rgba(255, 255, 255, 0.048), 0 64px 0 rgba(255, 255, 255, 0.0468571429), 0 65px 0 rgba(255, 255, 255, 0.0457142857), 0 66px 0 rgba(255, 255, 255, 0.0445714286), 0 67px 0 rgba(255, 255, 255, 0.0434285714), 0 68px 0 rgba(255, 255, 255, 0.0422857143), 0 69px 0 rgba(255, 255, 255, 0.0411428571), 0 70px 0 rgba(255, 255, 255, 0.04), 0 71px 0 rgba(255, 255, 255, 0.0388571429), 0 72px 0 rgba(255, 255, 255, 0.0377142857), 0 73px 0 rgba(255, 255, 255, 0.0365714286), 0 74px 0 rgba(255, 255, 255, 0.0354285714), 0 75px 0 rgba(255, 255, 255, 0.0342857143), 0 76px 0 rgba(255, 255, 255, 0.0331428571), 0 77px 0 rgba(255, 255, 255, 0.032), 0 78px 0 rgba(255, 255, 255, 0.0308571429), 0 79px 0 rgba(255, 255, 255, 0.0297142857), 0 80px 0 rgba(255, 255, 255, 0.0285714286), 0 81px 0 rgba(255, 255, 255, 0.0274285714), 0 82px 0 rgba(255, 255, 255, 0.0262857143), 0 83px 0 rgba(255, 255, 255, 0.0251428571), 0 84px 0 rgba(255, 255, 255, 0.024), 0 85px 0 rgba(255, 255, 255, 0.0228571429), 0 86px 0 rgba(255, 255, 255, 0.0217142857), 0 87px 0 rgba(255, 255, 255, 0.0205714286), 0 88px 0 rgba(255, 255, 255, 0.0194285714), 0 89px 0 rgba(255, 255, 255, 0.0182857143), 0 90px 0 rgba(255, 255, 255, 0.0171428571), 0 91px 0 rgba(255, 255, 255, 0.016), 0 92px 0 rgba(255, 255, 255, 0.0148571429), 0 93px 0 rgba(255, 255, 255, 0.0137142857), 0 94px 0 rgba(255, 255, 255, 0.0125714286), 0 95px 0 rgba(255, 255, 255, 0.0114285714), 0 96px 0 rgba(255, 255, 255, 0.0102857143), 0 97px 0 rgba(255, 255, 255, 0.0091428571), 0 98px 0 rgba(255, 255, 255, 0.008), 0 99px 0 rgba(255, 255, 255, 0.0068571429), 0 100px 0 rgba(255, 255, 255, 0.0057142857), 0 101px 0 rgba(255, 255, 255, 0.0045714286), 0 102px 0 rgba(255, 255, 255, 0.0034285714), 0 103px 0 rgba(255, 255, 255, 0.0022857143), 0 104px 0 rgba(255, 255, 255, 0.0011428571), 0 105px 0 rgba(255, 255, 255, 0);
    transform: perspective(290px) rotateY(20deg);
  }
}
@keyframes rotate-birth-year-1 {
  0% {
    color: #fff;
  }
  4% {
    color: #fff;
  }
  44% {
    color: transparent;
    transform: rotateX(40deg);
  }
  52% {
    color: transparent;
    transform: rotateX(40deg);
  }
  92% {
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@keyframes rotate-birth-year-2 {
  0% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
  4% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
  44% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    bottom: 58%;
    color: transparent;
    transform: rotateX(40deg);
  }
  52% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    bottom: 58%;
    color: transparent;
    transform: rotateX(40deg);
  }
  92% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
  100% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
}
body {
  background-color: black;
  color: rgb(221, 221, 232);
  margin: 0 auto 100px;
  max-width: 600px;
}

#img-container {
  position: relative;
}

#pier,
#silhouette {
  display: block;
  height: 100%;
  width: 100%;
}

#pier {
  filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
}

#silhouette {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 2;
}

#my-name,
.birth-year,
#symbol,
#song-title {
  line-height: 1.15;
}

#my-name {
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-family: "Noto Sans Syriac Eastern";
  font-size: 110px;
  font-weight: 900;
  position: absolute;
  right: 8%;
  top: 6%;
}
@media screen and (width <= 600px) {
  #my-name {
    font-size: 18.3333333333vw;
  }
}
@media screen and (width <= 480px) {
  #my-name {
    -webkit-text-stroke-width: 0.5208333333vw;
  }
}

.birth-year {
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-family: "Noto Sans Syriac Eastern";
  font-size: 80px;
  font-weight: 800;
  position: absolute;
  right: 8%;
}
@media screen and (width <= 600px) {
  .birth-year {
    font-size: 13.3333333333vw;
  }
}

#birth-year-1 {
  color: #fff;
  -webkit-text-stroke-color: white;
  bottom: 59%;
  z-index: 1;
}

#birth-year-2 {
  -webkit-text-stroke-color: #888;
  bottom: 59%;
  color: #888;
}

#symbol {
  text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  bottom: 28%;
  color: black;
  font-family: "Noto Sans Syriac";
  font-size: 50px;
  font-weight: 500;
  left: 34%;
  position: absolute;
  transform: rotate(-8deg);
  z-index: 3;
}
@media screen and (width <= 600px) {
  #symbol {
    font-size: 8.3333333333vw;
  }
}

#song-title {
  font-weight: 200;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1181538462), 0 2px 0 rgba(255, 255, 255, 0.1163076923), 0 3px 0 rgba(255, 255, 255, 0.1144615385), 0 4px 0 rgba(255, 255, 255, 0.1126153846), 0 5px 0 rgba(255, 255, 255, 0.1107692308), 0 6px 0 rgba(255, 255, 255, 0.1089230769), 0 7px 0 rgba(255, 255, 255, 0.1070769231), 0 8px 0 rgba(255, 255, 255, 0.1052307692), 0 9px 0 rgba(255, 255, 255, 0.1033846154), 0 10px 0 rgba(255, 255, 255, 0.1015384615), 0 11px 0 rgba(255, 255, 255, 0.0996923077), 0 12px 0 rgba(255, 255, 255, 0.0978461538), 0 13px 0 rgba(255, 255, 255, 0.096), 0 14px 0 rgba(255, 255, 255, 0.0941538462), 0 15px 0 rgba(255, 255, 255, 0.0923076923), 0 16px 0 rgba(255, 255, 255, 0.0904615385), 0 17px 0 rgba(255, 255, 255, 0.0886153846), 0 18px 0 rgba(255, 255, 255, 0.0867692308), 0 19px 0 rgba(255, 255, 255, 0.0849230769), 0 20px 0 rgba(255, 255, 255, 0.0830769231), 0 21px 0 rgba(255, 255, 255, 0.0812307692), 0 22px 0 rgba(255, 255, 255, 0.0793846154), 0 23px 0 rgba(255, 255, 255, 0.0775384615), 0 24px 0 rgba(255, 255, 255, 0.0756923077), 0 25px 0 rgba(255, 255, 255, 0.0738461538), 0 26px 0 rgba(255, 255, 255, 0.072), 0 27px 0 rgba(255, 255, 255, 0.0701538462), 0 28px 0 rgba(255, 255, 255, 0.0683076923), 0 29px 0 rgba(255, 255, 255, 0.0664615385), 0 30px 0 rgba(255, 255, 255, 0.0646153846), 0 31px 0 rgba(255, 255, 255, 0.0627692308), 0 32px 0 rgba(255, 255, 255, 0.0609230769), 0 33px 0 rgba(255, 255, 255, 0.0590769231), 0 34px 0 rgba(255, 255, 255, 0.0572307692), 0 35px 0 rgba(255, 255, 255, 0.0553846154), 0 36px 0 rgba(255, 255, 255, 0.0535384615), 0 37px 0 rgba(255, 255, 255, 0.0516923077), 0 38px 0 rgba(255, 255, 255, 0.0498461538), 0 39px 0 rgba(255, 255, 255, 0.048), 0 40px 0 rgba(255, 255, 255, 0.0461538462), 0 41px 0 rgba(255, 255, 255, 0.0443076923), 0 42px 0 rgba(255, 255, 255, 0.0424615385), 0 43px 0 rgba(255, 255, 255, 0.0406153846), 0 44px 0 rgba(255, 255, 255, 0.0387692308), 0 45px 0 rgba(255, 255, 255, 0.0369230769), 0 46px 0 rgba(255, 255, 255, 0.0350769231), 0 47px 0 rgba(255, 255, 255, 0.0332307692), 0 48px 0 rgba(255, 255, 255, 0.0313846154), 0 49px 0 rgba(255, 255, 255, 0.0295384615), 0 50px 0 rgba(255, 255, 255, 0.0276923077), 0 51px 0 rgba(255, 255, 255, 0.0258461538), 0 52px 0 rgba(255, 255, 255, 0.024), 0 53px 0 rgba(255, 255, 255, 0.0221538462), 0 54px 0 rgba(255, 255, 255, 0.0203076923), 0 55px 0 rgba(255, 255, 255, 0.0184615385), 0 56px 0 rgba(255, 255, 255, 0.0166153846), 0 57px 0 rgba(255, 255, 255, 0.0147692308), 0 58px 0 rgba(255, 255, 255, 0.0129230769), 0 59px 0 rgba(255, 255, 255, 0.0110769231), 0 60px 0 rgba(255, 255, 255, 0.0092307692), 0 61px 0 rgba(255, 255, 255, 0.0073846154), 0 62px 0 rgba(255, 255, 255, 0.0055384615), 0 63px 0 rgba(255, 255, 255, 0.0036923077), 0 64px 0 rgba(255, 255, 255, 0.0018461538), 0 65px 0 rgba(255, 255, 255, 0);
  transform: perspective(1000px) rotateY(20deg);
  bottom: 23%;
  color: white;
  font-family: "Noto Sans Syriac Eastern";
  font-size: 36px;
  position: absolute;
  right: 8%;
  transform-origin: right;
  z-index: 1;
}
@media screen and (width <= 600px) {
  #song-title {
    font-size: 6vw;
  }
}

#img-caption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 12px;
  bottom: 0;
  color: white;
  left: 0;
  margin: 8px 20px;
  position: absolute;
  text-shadow: black 1px 1px 3px;
  z-index: 3;
}

.section-container {
  background-color: black;
  margin: 32px 20px;
  position: relative;
}

.section-container-1 {
  margin-top: 0;
  padding-top: 32px;
  z-index: 2;
}

.section-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  font-size: 28px;
  color: #777;
  padding-bottom: 4px;
}

.section-body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
  color: rgb(221, 221, 232);
}

ul {
  margin: 4px 0;
}
ul li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: 14px;
}
ul li .tr {
  font-style: italic;
}

a {
  color: rgb(133, 177, 255);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(186, 159, 239);
}
a:active {
  color: rgb(188, 90, 0);
}

@media screen and (prefers-reduced-motion: no-preference) {
  #pier {
    animation: blur-img 2s steps(6, end) -0.2s infinite;
  }
  #my-name {
    animation: oscillate-title 2s ease-in-out infinite, my-name-stroke 2s steps(6, end) -0.2s infinite;
  }
  #symbol {
    animation: glow-symbol 2s steps(6, end) -0.2s infinite;
  }
  #birth-year-1 {
    animation: rotate-birth-year-1 2s steps(6, end) -0.2s infinite;
  }
  #birth-year-2 {
    animation: rotate-birth-year-2 2s steps(6, end) -0.2s infinite;
  }
  #song-title {
    animation: perspectivize-lyric 2s steps(6, end) -0.2s infinite;
  }
}

/*# sourceMappingURL=style.css.map */
