@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@keyframes blur-img {
  0% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
  4% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
  44% {
    filter: blur(0) grayscale(40%);
  }
  52% {
    filter: blur(0) grayscale(40%);
  }
  92% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
  100% {
    filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
  }
}
@keyframes glow-symbol {
  0% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
  4% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
  44% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0);
  }
  52% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0), 0 0 0px rgba(0, 255, 242, 0);
  }
  92% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  }
}
@keyframes oscillate-title {
  0% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  4% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, #fff 80%, #fff 90%, rgba(255, 255, 255, 0.4) 90%, rgba(255, 255, 255, 0.4) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  8% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, #fff 70%, #fff 80%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.4) 90%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0.3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  12% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, #fff 60%, #fff 70%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0.2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  16% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #fff 50%, #fff 60%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0.1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  20% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #fff 40%, #fff 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0.1) 90%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  24% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, #fff 30%, #fff 40%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  28% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, #fff 20%, #fff 30%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  32% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, #fff 10%, #fff 20%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  36% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  40% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  44% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  48% {
    background: linear-gradient(to left, #fff 0%, #fff 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  52% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 10%, #fff 10%, #fff 20%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  56% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0.4) 20%, #fff 20%, #fff 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  60% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.4) 30%, #fff 30%, #fff 40%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  64% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.4) 40%, #fff 40%, #fff 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  68% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.4) 50%, #fff 50%, #fff 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  72% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 60%, #fff 60%, #fff 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  76% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.4) 70%, #fff 70%, #fff 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  80% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0.4) 80%, #fff 80%, #fff 90%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  84% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.4) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  88% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.1) 60%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.3) 80%, rgba(255, 255, 255, 0.3) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  92% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  96% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.1) 80%, rgba(255, 255, 255, 0.1) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, #fff 90%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
@keyframes my-name-stroke {
  0% {
    -webkit-text-stroke-color: white;
  }
  4% {
    -webkit-text-stroke-color: white;
  }
  44% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }
  52% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }
  92% {
    -webkit-text-stroke-color: white;
  }
  100% {
    -webkit-text-stroke-color: white;
  }
}
@keyframes perspectivize-lyric {
  0% {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1486956522), 0 2px 0 rgba(255, 255, 255, 0.1473913043), 0 3px 0 rgba(255, 255, 255, 0.1460869565), 0 4px 0 rgba(255, 255, 255, 0.1447826087), 0 5px 0 rgba(255, 255, 255, 0.1434782609), 0 6px 0 rgba(255, 255, 255, 0.142173913), 0 7px 0 rgba(255, 255, 255, 0.1408695652), 0 8px 0 rgba(255, 255, 255, 0.1395652174), 0 9px 0 rgba(255, 255, 255, 0.1382608696), 0 10px 0 rgba(255, 255, 255, 0.1369565217), 0 11px 0 rgba(255, 255, 255, 0.1356521739), 0 12px 0 rgba(255, 255, 255, 0.1343478261), 0 13px 0 rgba(255, 255, 255, 0.1330434783), 0 14px 0 rgba(255, 255, 255, 0.1317391304), 0 15px 0 rgba(255, 255, 255, 0.1304347826), 0 16px 0 rgba(255, 255, 255, 0.1291304348), 0 17px 0 rgba(255, 255, 255, 0.127826087), 0 18px 0 rgba(255, 255, 255, 0.1265217391), 0 19px 0 rgba(255, 255, 255, 0.1252173913), 0 20px 0 rgba(255, 255, 255, 0.1239130435), 0 21px 0 rgba(255, 255, 255, 0.1226086957), 0 22px 0 rgba(255, 255, 255, 0.1213043478), 0 23px 0 rgba(255, 255, 255, 0.12), 0 24px 0 rgba(255, 255, 255, 0.1186956522), 0 25px 0 rgba(255, 255, 255, 0.1173913043), 0 26px 0 rgba(255, 255, 255, 0.1160869565), 0 27px 0 rgba(255, 255, 255, 0.1147826087), 0 28px 0 rgba(255, 255, 255, 0.1134782609), 0 29px 0 rgba(255, 255, 255, 0.112173913), 0 30px 0 rgba(255, 255, 255, 0.1108695652), 0 31px 0 rgba(255, 255, 255, 0.1095652174), 0 32px 0 rgba(255, 255, 255, 0.1082608696), 0 33px 0 rgba(255, 255, 255, 0.1069565217), 0 34px 0 rgba(255, 255, 255, 0.1056521739), 0 35px 0 rgba(255, 255, 255, 0.1043478261), 0 36px 0 rgba(255, 255, 255, 0.1030434783), 0 37px 0 rgba(255, 255, 255, 0.1017391304), 0 38px 0 rgba(255, 255, 255, 0.1004347826), 0 39px 0 rgba(255, 255, 255, 0.0991304348), 0 40px 0 rgba(255, 255, 255, 0.097826087), 0 41px 0 rgba(255, 255, 255, 0.0965217391), 0 42px 0 rgba(255, 255, 255, 0.0952173913), 0 43px 0 rgba(255, 255, 255, 0.0939130435), 0 44px 0 rgba(255, 255, 255, 0.0926086957), 0 45px 0 rgba(255, 255, 255, 0.0913043478), 0 46px 0 rgba(255, 255, 255, 0.09), 0 47px 0 rgba(255, 255, 255, 0.0886956522), 0 48px 0 rgba(255, 255, 255, 0.0873913043), 0 49px 0 rgba(255, 255, 255, 0.0860869565), 0 50px 0 rgba(255, 255, 255, 0.0847826087), 0 51px 0 rgba(255, 255, 255, 0.0834782609), 0 52px 0 rgba(255, 255, 255, 0.082173913), 0 53px 0 rgba(255, 255, 255, 0.0808695652), 0 54px 0 rgba(255, 255, 255, 0.0795652174), 0 55px 0 rgba(255, 255, 255, 0.0782608696), 0 56px 0 rgba(255, 255, 255, 0.0769565217), 0 57px 0 rgba(255, 255, 255, 0.0756521739), 0 58px 0 rgba(255, 255, 255, 0.0743478261), 0 59px 0 rgba(255, 255, 255, 0.0730434783), 0 60px 0 rgba(255, 255, 255, 0.0717391304), 0 61px 0 rgba(255, 255, 255, 0.0704347826), 0 62px 0 rgba(255, 255, 255, 0.0691304348), 0 63px 0 rgba(255, 255, 255, 0.067826087), 0 64px 0 rgba(255, 255, 255, 0.0665217391), 0 65px 0 rgba(255, 255, 255, 0.0652173913), 0 66px 0 rgba(255, 255, 255, 0.0639130435), 0 67px 0 rgba(255, 255, 255, 0.0626086957), 0 68px 0 rgba(255, 255, 255, 0.0613043478), 0 69px 0 rgba(255, 255, 255, 0.06), 0 70px 0 rgba(255, 255, 255, 0.0586956522), 0 71px 0 rgba(255, 255, 255, 0.0573913043), 0 72px 0 rgba(255, 255, 255, 0.0560869565), 0 73px 0 rgba(255, 255, 255, 0.0547826087), 0 74px 0 rgba(255, 255, 255, 0.0534782609), 0 75px 0 rgba(255, 255, 255, 0.052173913), 0 76px 0 rgba(255, 255, 255, 0.0508695652), 0 77px 0 rgba(255, 255, 255, 0.0495652174), 0 78px 0 rgba(255, 255, 255, 0.0482608696), 0 79px 0 rgba(255, 255, 255, 0.0469565217), 0 80px 0 rgba(255, 255, 255, 0.0456521739), 0 81px 0 rgba(255, 255, 255, 0.0443478261), 0 82px 0 rgba(255, 255, 255, 0.0430434783), 0 83px 0 rgba(255, 255, 255, 0.0417391304), 0 84px 0 rgba(255, 255, 255, 0.0404347826), 0 85px 0 rgba(255, 255, 255, 0.0391304348), 0 86px 0 rgba(255, 255, 255, 0.037826087), 0 87px 0 rgba(255, 255, 255, 0.0365217391), 0 88px 0 rgba(255, 255, 255, 0.0352173913), 0 89px 0 rgba(255, 255, 255, 0.0339130435), 0 90px 0 rgba(255, 255, 255, 0.0326086957), 0 91px 0 rgba(255, 255, 255, 0.0313043478), 0 92px 0 rgba(255, 255, 255, 0.03), 0 93px 0 rgba(255, 255, 255, 0.0286956522), 0 94px 0 rgba(255, 255, 255, 0.0273913043), 0 95px 0 rgba(255, 255, 255, 0.0260869565), 0 96px 0 rgba(255, 255, 255, 0.0247826087), 0 97px 0 rgba(255, 255, 255, 0.0234782609), 0 98px 0 rgba(255, 255, 255, 0.022173913), 0 99px 0 rgba(255, 255, 255, 0.0208695652), 0 100px 0 rgba(255, 255, 255, 0.0195652174), 0 101px 0 rgba(255, 255, 255, 0.0182608696), 0 102px 0 rgba(255, 255, 255, 0.0169565217), 0 103px 0 rgba(255, 255, 255, 0.0156521739), 0 104px 0 rgba(255, 255, 255, 0.0143478261), 0 105px 0 rgba(255, 255, 255, 0.0130434783), 0 106px 0 rgba(255, 255, 255, 0.0117391304), 0 107px 0 rgba(255, 255, 255, 0.0104347826), 0 108px 0 rgba(255, 255, 255, 0.0091304348), 0 109px 0 rgba(255, 255, 255, 0.007826087), 0 110px 0 rgba(255, 255, 255, 0.0065217391), 0 111px 0 rgba(255, 255, 255, 0.0052173913), 0 112px 0 rgba(255, 255, 255, 0.0039130435), 0 113px 0 rgba(255, 255, 255, 0.0026086957), 0 114px 0 rgba(255, 255, 255, 0.0013043478), 0 115px 0 rgba(255, 255, 255, 0);
  }
  4% {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1486956522), 0 2px 0 rgba(255, 255, 255, 0.1473913043), 0 3px 0 rgba(255, 255, 255, 0.1460869565), 0 4px 0 rgba(255, 255, 255, 0.1447826087), 0 5px 0 rgba(255, 255, 255, 0.1434782609), 0 6px 0 rgba(255, 255, 255, 0.142173913), 0 7px 0 rgba(255, 255, 255, 0.1408695652), 0 8px 0 rgba(255, 255, 255, 0.1395652174), 0 9px 0 rgba(255, 255, 255, 0.1382608696), 0 10px 0 rgba(255, 255, 255, 0.1369565217), 0 11px 0 rgba(255, 255, 255, 0.1356521739), 0 12px 0 rgba(255, 255, 255, 0.1343478261), 0 13px 0 rgba(255, 255, 255, 0.1330434783), 0 14px 0 rgba(255, 255, 255, 0.1317391304), 0 15px 0 rgba(255, 255, 255, 0.1304347826), 0 16px 0 rgba(255, 255, 255, 0.1291304348), 0 17px 0 rgba(255, 255, 255, 0.127826087), 0 18px 0 rgba(255, 255, 255, 0.1265217391), 0 19px 0 rgba(255, 255, 255, 0.1252173913), 0 20px 0 rgba(255, 255, 255, 0.1239130435), 0 21px 0 rgba(255, 255, 255, 0.1226086957), 0 22px 0 rgba(255, 255, 255, 0.1213043478), 0 23px 0 rgba(255, 255, 255, 0.12), 0 24px 0 rgba(255, 255, 255, 0.1186956522), 0 25px 0 rgba(255, 255, 255, 0.1173913043), 0 26px 0 rgba(255, 255, 255, 0.1160869565), 0 27px 0 rgba(255, 255, 255, 0.1147826087), 0 28px 0 rgba(255, 255, 255, 0.1134782609), 0 29px 0 rgba(255, 255, 255, 0.112173913), 0 30px 0 rgba(255, 255, 255, 0.1108695652), 0 31px 0 rgba(255, 255, 255, 0.1095652174), 0 32px 0 rgba(255, 255, 255, 0.1082608696), 0 33px 0 rgba(255, 255, 255, 0.1069565217), 0 34px 0 rgba(255, 255, 255, 0.1056521739), 0 35px 0 rgba(255, 255, 255, 0.1043478261), 0 36px 0 rgba(255, 255, 255, 0.1030434783), 0 37px 0 rgba(255, 255, 255, 0.1017391304), 0 38px 0 rgba(255, 255, 255, 0.1004347826), 0 39px 0 rgba(255, 255, 255, 0.0991304348), 0 40px 0 rgba(255, 255, 255, 0.097826087), 0 41px 0 rgba(255, 255, 255, 0.0965217391), 0 42px 0 rgba(255, 255, 255, 0.0952173913), 0 43px 0 rgba(255, 255, 255, 0.0939130435), 0 44px 0 rgba(255, 255, 255, 0.0926086957), 0 45px 0 rgba(255, 255, 255, 0.0913043478), 0 46px 0 rgba(255, 255, 255, 0.09), 0 47px 0 rgba(255, 255, 255, 0.0886956522), 0 48px 0 rgba(255, 255, 255, 0.0873913043), 0 49px 0 rgba(255, 255, 255, 0.0860869565), 0 50px 0 rgba(255, 255, 255, 0.0847826087), 0 51px 0 rgba(255, 255, 255, 0.0834782609), 0 52px 0 rgba(255, 255, 255, 0.082173913), 0 53px 0 rgba(255, 255, 255, 0.0808695652), 0 54px 0 rgba(255, 255, 255, 0.0795652174), 0 55px 0 rgba(255, 255, 255, 0.0782608696), 0 56px 0 rgba(255, 255, 255, 0.0769565217), 0 57px 0 rgba(255, 255, 255, 0.0756521739), 0 58px 0 rgba(255, 255, 255, 0.0743478261), 0 59px 0 rgba(255, 255, 255, 0.0730434783), 0 60px 0 rgba(255, 255, 255, 0.0717391304), 0 61px 0 rgba(255, 255, 255, 0.0704347826), 0 62px 0 rgba(255, 255, 255, 0.0691304348), 0 63px 0 rgba(255, 255, 255, 0.067826087), 0 64px 0 rgba(255, 255, 255, 0.0665217391), 0 65px 0 rgba(255, 255, 255, 0.0652173913), 0 66px 0 rgba(255, 255, 255, 0.0639130435), 0 67px 0 rgba(255, 255, 255, 0.0626086957), 0 68px 0 rgba(255, 255, 255, 0.0613043478), 0 69px 0 rgba(255, 255, 255, 0.06), 0 70px 0 rgba(255, 255, 255, 0.0586956522), 0 71px 0 rgba(255, 255, 255, 0.0573913043), 0 72px 0 rgba(255, 255, 255, 0.0560869565), 0 73px 0 rgba(255, 255, 255, 0.0547826087), 0 74px 0 rgba(255, 255, 255, 0.0534782609), 0 75px 0 rgba(255, 255, 255, 0.052173913), 0 76px 0 rgba(255, 255, 255, 0.0508695652), 0 77px 0 rgba(255, 255, 255, 0.0495652174), 0 78px 0 rgba(255, 255, 255, 0.0482608696), 0 79px 0 rgba(255, 255, 255, 0.0469565217), 0 80px 0 rgba(255, 255, 255, 0.0456521739), 0 81px 0 rgba(255, 255, 255, 0.0443478261), 0 82px 0 rgba(255, 255, 255, 0.0430434783), 0 83px 0 rgba(255, 255, 255, 0.0417391304), 0 84px 0 rgba(255, 255, 255, 0.0404347826), 0 85px 0 rgba(255, 255, 255, 0.0391304348), 0 86px 0 rgba(255, 255, 255, 0.037826087), 0 87px 0 rgba(255, 255, 255, 0.0365217391), 0 88px 0 rgba(255, 255, 255, 0.0352173913), 0 89px 0 rgba(255, 255, 255, 0.0339130435), 0 90px 0 rgba(255, 255, 255, 0.0326086957), 0 91px 0 rgba(255, 255, 255, 0.0313043478), 0 92px 0 rgba(255, 255, 255, 0.03), 0 93px 0 rgba(255, 255, 255, 0.0286956522), 0 94px 0 rgba(255, 255, 255, 0.0273913043), 0 95px 0 rgba(255, 255, 255, 0.0260869565), 0 96px 0 rgba(255, 255, 255, 0.0247826087), 0 97px 0 rgba(255, 255, 255, 0.0234782609), 0 98px 0 rgba(255, 255, 255, 0.022173913), 0 99px 0 rgba(255, 255, 255, 0.0208695652), 0 100px 0 rgba(255, 255, 255, 0.0195652174), 0 101px 0 rgba(255, 255, 255, 0.0182608696), 0 102px 0 rgba(255, 255, 255, 0.0169565217), 0 103px 0 rgba(255, 255, 255, 0.0156521739), 0 104px 0 rgba(255, 255, 255, 0.0143478261), 0 105px 0 rgba(255, 255, 255, 0.0130434783), 0 106px 0 rgba(255, 255, 255, 0.0117391304), 0 107px 0 rgba(255, 255, 255, 0.0104347826), 0 108px 0 rgba(255, 255, 255, 0.0091304348), 0 109px 0 rgba(255, 255, 255, 0.007826087), 0 110px 0 rgba(255, 255, 255, 0.0065217391), 0 111px 0 rgba(255, 255, 255, 0.0052173913), 0 112px 0 rgba(255, 255, 255, 0.0039130435), 0 113px 0 rgba(255, 255, 255, 0.0026086957), 0 114px 0 rgba(255, 255, 255, 0.0013043478), 0 115px 0 rgba(255, 255, 255, 0);
  }
  44% {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.144), 0 2px 0 rgba(255, 255, 255, 0.138), 0 3px 0 rgba(255, 255, 255, 0.132), 0 4px 0 rgba(255, 255, 255, 0.126), 0 5px 0 rgba(255, 255, 255, 0.12), 0 6px 0 rgba(255, 255, 255, 0.114), 0 7px 0 rgba(255, 255, 255, 0.108), 0 8px 0 rgba(255, 255, 255, 0.102), 0 9px 0 rgba(255, 255, 255, 0.096), 0 10px 0 rgba(255, 255, 255, 0.09), 0 11px 0 rgba(255, 255, 255, 0.084), 0 12px 0 rgba(255, 255, 255, 0.078), 0 13px 0 rgba(255, 255, 255, 0.072), 0 14px 0 rgba(255, 255, 255, 0.066), 0 15px 0 rgba(255, 255, 255, 0.06), 0 16px 0 rgba(255, 255, 255, 0.054), 0 17px 0 rgba(255, 255, 255, 0.048), 0 18px 0 rgba(255, 255, 255, 0.042), 0 19px 0 rgba(255, 255, 255, 0.036), 0 20px 0 rgba(255, 255, 255, 0.03), 0 21px 0 rgba(255, 255, 255, 0.024), 0 22px 0 rgba(255, 255, 255, 0.018), 0 23px 0 rgba(255, 255, 255, 0.012), 0 24px 0 rgba(255, 255, 255, 0.006), 0 25px 0 rgba(255, 255, 255, 0);
  }
  52% {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.144), 0 2px 0 rgba(255, 255, 255, 0.138), 0 3px 0 rgba(255, 255, 255, 0.132), 0 4px 0 rgba(255, 255, 255, 0.126), 0 5px 0 rgba(255, 255, 255, 0.12), 0 6px 0 rgba(255, 255, 255, 0.114), 0 7px 0 rgba(255, 255, 255, 0.108), 0 8px 0 rgba(255, 255, 255, 0.102), 0 9px 0 rgba(255, 255, 255, 0.096), 0 10px 0 rgba(255, 255, 255, 0.09), 0 11px 0 rgba(255, 255, 255, 0.084), 0 12px 0 rgba(255, 255, 255, 0.078), 0 13px 0 rgba(255, 255, 255, 0.072), 0 14px 0 rgba(255, 255, 255, 0.066), 0 15px 0 rgba(255, 255, 255, 0.06), 0 16px 0 rgba(255, 255, 255, 0.054), 0 17px 0 rgba(255, 255, 255, 0.048), 0 18px 0 rgba(255, 255, 255, 0.042), 0 19px 0 rgba(255, 255, 255, 0.036), 0 20px 0 rgba(255, 255, 255, 0.03), 0 21px 0 rgba(255, 255, 255, 0.024), 0 22px 0 rgba(255, 255, 255, 0.018), 0 23px 0 rgba(255, 255, 255, 0.012), 0 24px 0 rgba(255, 255, 255, 0.006), 0 25px 0 rgba(255, 255, 255, 0);
  }
  92% {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1486956522), 0 2px 0 rgba(255, 255, 255, 0.1473913043), 0 3px 0 rgba(255, 255, 255, 0.1460869565), 0 4px 0 rgba(255, 255, 255, 0.1447826087), 0 5px 0 rgba(255, 255, 255, 0.1434782609), 0 6px 0 rgba(255, 255, 255, 0.142173913), 0 7px 0 rgba(255, 255, 255, 0.1408695652), 0 8px 0 rgba(255, 255, 255, 0.1395652174), 0 9px 0 rgba(255, 255, 255, 0.1382608696), 0 10px 0 rgba(255, 255, 255, 0.1369565217), 0 11px 0 rgba(255, 255, 255, 0.1356521739), 0 12px 0 rgba(255, 255, 255, 0.1343478261), 0 13px 0 rgba(255, 255, 255, 0.1330434783), 0 14px 0 rgba(255, 255, 255, 0.1317391304), 0 15px 0 rgba(255, 255, 255, 0.1304347826), 0 16px 0 rgba(255, 255, 255, 0.1291304348), 0 17px 0 rgba(255, 255, 255, 0.127826087), 0 18px 0 rgba(255, 255, 255, 0.1265217391), 0 19px 0 rgba(255, 255, 255, 0.1252173913), 0 20px 0 rgba(255, 255, 255, 0.1239130435), 0 21px 0 rgba(255, 255, 255, 0.1226086957), 0 22px 0 rgba(255, 255, 255, 0.1213043478), 0 23px 0 rgba(255, 255, 255, 0.12), 0 24px 0 rgba(255, 255, 255, 0.1186956522), 0 25px 0 rgba(255, 255, 255, 0.1173913043), 0 26px 0 rgba(255, 255, 255, 0.1160869565), 0 27px 0 rgba(255, 255, 255, 0.1147826087), 0 28px 0 rgba(255, 255, 255, 0.1134782609), 0 29px 0 rgba(255, 255, 255, 0.112173913), 0 30px 0 rgba(255, 255, 255, 0.1108695652), 0 31px 0 rgba(255, 255, 255, 0.1095652174), 0 32px 0 rgba(255, 255, 255, 0.1082608696), 0 33px 0 rgba(255, 255, 255, 0.1069565217), 0 34px 0 rgba(255, 255, 255, 0.1056521739), 0 35px 0 rgba(255, 255, 255, 0.1043478261), 0 36px 0 rgba(255, 255, 255, 0.1030434783), 0 37px 0 rgba(255, 255, 255, 0.1017391304), 0 38px 0 rgba(255, 255, 255, 0.1004347826), 0 39px 0 rgba(255, 255, 255, 0.0991304348), 0 40px 0 rgba(255, 255, 255, 0.097826087), 0 41px 0 rgba(255, 255, 255, 0.0965217391), 0 42px 0 rgba(255, 255, 255, 0.0952173913), 0 43px 0 rgba(255, 255, 255, 0.0939130435), 0 44px 0 rgba(255, 255, 255, 0.0926086957), 0 45px 0 rgba(255, 255, 255, 0.0913043478), 0 46px 0 rgba(255, 255, 255, 0.09), 0 47px 0 rgba(255, 255, 255, 0.0886956522), 0 48px 0 rgba(255, 255, 255, 0.0873913043), 0 49px 0 rgba(255, 255, 255, 0.0860869565), 0 50px 0 rgba(255, 255, 255, 0.0847826087), 0 51px 0 rgba(255, 255, 255, 0.0834782609), 0 52px 0 rgba(255, 255, 255, 0.082173913), 0 53px 0 rgba(255, 255, 255, 0.0808695652), 0 54px 0 rgba(255, 255, 255, 0.0795652174), 0 55px 0 rgba(255, 255, 255, 0.0782608696), 0 56px 0 rgba(255, 255, 255, 0.0769565217), 0 57px 0 rgba(255, 255, 255, 0.0756521739), 0 58px 0 rgba(255, 255, 255, 0.0743478261), 0 59px 0 rgba(255, 255, 255, 0.0730434783), 0 60px 0 rgba(255, 255, 255, 0.0717391304), 0 61px 0 rgba(255, 255, 255, 0.0704347826), 0 62px 0 rgba(255, 255, 255, 0.0691304348), 0 63px 0 rgba(255, 255, 255, 0.067826087), 0 64px 0 rgba(255, 255, 255, 0.0665217391), 0 65px 0 rgba(255, 255, 255, 0.0652173913), 0 66px 0 rgba(255, 255, 255, 0.0639130435), 0 67px 0 rgba(255, 255, 255, 0.0626086957), 0 68px 0 rgba(255, 255, 255, 0.0613043478), 0 69px 0 rgba(255, 255, 255, 0.06), 0 70px 0 rgba(255, 255, 255, 0.0586956522), 0 71px 0 rgba(255, 255, 255, 0.0573913043), 0 72px 0 rgba(255, 255, 255, 0.0560869565), 0 73px 0 rgba(255, 255, 255, 0.0547826087), 0 74px 0 rgba(255, 255, 255, 0.0534782609), 0 75px 0 rgba(255, 255, 255, 0.052173913), 0 76px 0 rgba(255, 255, 255, 0.0508695652), 0 77px 0 rgba(255, 255, 255, 0.0495652174), 0 78px 0 rgba(255, 255, 255, 0.0482608696), 0 79px 0 rgba(255, 255, 255, 0.0469565217), 0 80px 0 rgba(255, 255, 255, 0.0456521739), 0 81px 0 rgba(255, 255, 255, 0.0443478261), 0 82px 0 rgba(255, 255, 255, 0.0430434783), 0 83px 0 rgba(255, 255, 255, 0.0417391304), 0 84px 0 rgba(255, 255, 255, 0.0404347826), 0 85px 0 rgba(255, 255, 255, 0.0391304348), 0 86px 0 rgba(255, 255, 255, 0.037826087), 0 87px 0 rgba(255, 255, 255, 0.0365217391), 0 88px 0 rgba(255, 255, 255, 0.0352173913), 0 89px 0 rgba(255, 255, 255, 0.0339130435), 0 90px 0 rgba(255, 255, 255, 0.0326086957), 0 91px 0 rgba(255, 255, 255, 0.0313043478), 0 92px 0 rgba(255, 255, 255, 0.03), 0 93px 0 rgba(255, 255, 255, 0.0286956522), 0 94px 0 rgba(255, 255, 255, 0.0273913043), 0 95px 0 rgba(255, 255, 255, 0.0260869565), 0 96px 0 rgba(255, 255, 255, 0.0247826087), 0 97px 0 rgba(255, 255, 255, 0.0234782609), 0 98px 0 rgba(255, 255, 255, 0.022173913), 0 99px 0 rgba(255, 255, 255, 0.0208695652), 0 100px 0 rgba(255, 255, 255, 0.0195652174), 0 101px 0 rgba(255, 255, 255, 0.0182608696), 0 102px 0 rgba(255, 255, 255, 0.0169565217), 0 103px 0 rgba(255, 255, 255, 0.0156521739), 0 104px 0 rgba(255, 255, 255, 0.0143478261), 0 105px 0 rgba(255, 255, 255, 0.0130434783), 0 106px 0 rgba(255, 255, 255, 0.0117391304), 0 107px 0 rgba(255, 255, 255, 0.0104347826), 0 108px 0 rgba(255, 255, 255, 0.0091304348), 0 109px 0 rgba(255, 255, 255, 0.007826087), 0 110px 0 rgba(255, 255, 255, 0.0065217391), 0 111px 0 rgba(255, 255, 255, 0.0052173913), 0 112px 0 rgba(255, 255, 255, 0.0039130435), 0 113px 0 rgba(255, 255, 255, 0.0026086957), 0 114px 0 rgba(255, 255, 255, 0.0013043478), 0 115px 0 rgba(255, 255, 255, 0);
  }
  100% {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1486956522), 0 2px 0 rgba(255, 255, 255, 0.1473913043), 0 3px 0 rgba(255, 255, 255, 0.1460869565), 0 4px 0 rgba(255, 255, 255, 0.1447826087), 0 5px 0 rgba(255, 255, 255, 0.1434782609), 0 6px 0 rgba(255, 255, 255, 0.142173913), 0 7px 0 rgba(255, 255, 255, 0.1408695652), 0 8px 0 rgba(255, 255, 255, 0.1395652174), 0 9px 0 rgba(255, 255, 255, 0.1382608696), 0 10px 0 rgba(255, 255, 255, 0.1369565217), 0 11px 0 rgba(255, 255, 255, 0.1356521739), 0 12px 0 rgba(255, 255, 255, 0.1343478261), 0 13px 0 rgba(255, 255, 255, 0.1330434783), 0 14px 0 rgba(255, 255, 255, 0.1317391304), 0 15px 0 rgba(255, 255, 255, 0.1304347826), 0 16px 0 rgba(255, 255, 255, 0.1291304348), 0 17px 0 rgba(255, 255, 255, 0.127826087), 0 18px 0 rgba(255, 255, 255, 0.1265217391), 0 19px 0 rgba(255, 255, 255, 0.1252173913), 0 20px 0 rgba(255, 255, 255, 0.1239130435), 0 21px 0 rgba(255, 255, 255, 0.1226086957), 0 22px 0 rgba(255, 255, 255, 0.1213043478), 0 23px 0 rgba(255, 255, 255, 0.12), 0 24px 0 rgba(255, 255, 255, 0.1186956522), 0 25px 0 rgba(255, 255, 255, 0.1173913043), 0 26px 0 rgba(255, 255, 255, 0.1160869565), 0 27px 0 rgba(255, 255, 255, 0.1147826087), 0 28px 0 rgba(255, 255, 255, 0.1134782609), 0 29px 0 rgba(255, 255, 255, 0.112173913), 0 30px 0 rgba(255, 255, 255, 0.1108695652), 0 31px 0 rgba(255, 255, 255, 0.1095652174), 0 32px 0 rgba(255, 255, 255, 0.1082608696), 0 33px 0 rgba(255, 255, 255, 0.1069565217), 0 34px 0 rgba(255, 255, 255, 0.1056521739), 0 35px 0 rgba(255, 255, 255, 0.1043478261), 0 36px 0 rgba(255, 255, 255, 0.1030434783), 0 37px 0 rgba(255, 255, 255, 0.1017391304), 0 38px 0 rgba(255, 255, 255, 0.1004347826), 0 39px 0 rgba(255, 255, 255, 0.0991304348), 0 40px 0 rgba(255, 255, 255, 0.097826087), 0 41px 0 rgba(255, 255, 255, 0.0965217391), 0 42px 0 rgba(255, 255, 255, 0.0952173913), 0 43px 0 rgba(255, 255, 255, 0.0939130435), 0 44px 0 rgba(255, 255, 255, 0.0926086957), 0 45px 0 rgba(255, 255, 255, 0.0913043478), 0 46px 0 rgba(255, 255, 255, 0.09), 0 47px 0 rgba(255, 255, 255, 0.0886956522), 0 48px 0 rgba(255, 255, 255, 0.0873913043), 0 49px 0 rgba(255, 255, 255, 0.0860869565), 0 50px 0 rgba(255, 255, 255, 0.0847826087), 0 51px 0 rgba(255, 255, 255, 0.0834782609), 0 52px 0 rgba(255, 255, 255, 0.082173913), 0 53px 0 rgba(255, 255, 255, 0.0808695652), 0 54px 0 rgba(255, 255, 255, 0.0795652174), 0 55px 0 rgba(255, 255, 255, 0.0782608696), 0 56px 0 rgba(255, 255, 255, 0.0769565217), 0 57px 0 rgba(255, 255, 255, 0.0756521739), 0 58px 0 rgba(255, 255, 255, 0.0743478261), 0 59px 0 rgba(255, 255, 255, 0.0730434783), 0 60px 0 rgba(255, 255, 255, 0.0717391304), 0 61px 0 rgba(255, 255, 255, 0.0704347826), 0 62px 0 rgba(255, 255, 255, 0.0691304348), 0 63px 0 rgba(255, 255, 255, 0.067826087), 0 64px 0 rgba(255, 255, 255, 0.0665217391), 0 65px 0 rgba(255, 255, 255, 0.0652173913), 0 66px 0 rgba(255, 255, 255, 0.0639130435), 0 67px 0 rgba(255, 255, 255, 0.0626086957), 0 68px 0 rgba(255, 255, 255, 0.0613043478), 0 69px 0 rgba(255, 255, 255, 0.06), 0 70px 0 rgba(255, 255, 255, 0.0586956522), 0 71px 0 rgba(255, 255, 255, 0.0573913043), 0 72px 0 rgba(255, 255, 255, 0.0560869565), 0 73px 0 rgba(255, 255, 255, 0.0547826087), 0 74px 0 rgba(255, 255, 255, 0.0534782609), 0 75px 0 rgba(255, 255, 255, 0.052173913), 0 76px 0 rgba(255, 255, 255, 0.0508695652), 0 77px 0 rgba(255, 255, 255, 0.0495652174), 0 78px 0 rgba(255, 255, 255, 0.0482608696), 0 79px 0 rgba(255, 255, 255, 0.0469565217), 0 80px 0 rgba(255, 255, 255, 0.0456521739), 0 81px 0 rgba(255, 255, 255, 0.0443478261), 0 82px 0 rgba(255, 255, 255, 0.0430434783), 0 83px 0 rgba(255, 255, 255, 0.0417391304), 0 84px 0 rgba(255, 255, 255, 0.0404347826), 0 85px 0 rgba(255, 255, 255, 0.0391304348), 0 86px 0 rgba(255, 255, 255, 0.037826087), 0 87px 0 rgba(255, 255, 255, 0.0365217391), 0 88px 0 rgba(255, 255, 255, 0.0352173913), 0 89px 0 rgba(255, 255, 255, 0.0339130435), 0 90px 0 rgba(255, 255, 255, 0.0326086957), 0 91px 0 rgba(255, 255, 255, 0.0313043478), 0 92px 0 rgba(255, 255, 255, 0.03), 0 93px 0 rgba(255, 255, 255, 0.0286956522), 0 94px 0 rgba(255, 255, 255, 0.0273913043), 0 95px 0 rgba(255, 255, 255, 0.0260869565), 0 96px 0 rgba(255, 255, 255, 0.0247826087), 0 97px 0 rgba(255, 255, 255, 0.0234782609), 0 98px 0 rgba(255, 255, 255, 0.022173913), 0 99px 0 rgba(255, 255, 255, 0.0208695652), 0 100px 0 rgba(255, 255, 255, 0.0195652174), 0 101px 0 rgba(255, 255, 255, 0.0182608696), 0 102px 0 rgba(255, 255, 255, 0.0169565217), 0 103px 0 rgba(255, 255, 255, 0.0156521739), 0 104px 0 rgba(255, 255, 255, 0.0143478261), 0 105px 0 rgba(255, 255, 255, 0.0130434783), 0 106px 0 rgba(255, 255, 255, 0.0117391304), 0 107px 0 rgba(255, 255, 255, 0.0104347826), 0 108px 0 rgba(255, 255, 255, 0.0091304348), 0 109px 0 rgba(255, 255, 255, 0.007826087), 0 110px 0 rgba(255, 255, 255, 0.0065217391), 0 111px 0 rgba(255, 255, 255, 0.0052173913), 0 112px 0 rgba(255, 255, 255, 0.0039130435), 0 113px 0 rgba(255, 255, 255, 0.0026086957), 0 114px 0 rgba(255, 255, 255, 0.0013043478), 0 115px 0 rgba(255, 255, 255, 0);
  }
}
@keyframes rotate-birth-year-1 {
  0% {
    color: #fff;
  }
  4% {
    color: #fff;
  }
  44% {
    color: transparent;
    transform: rotateX(40deg);
  }
  52% {
    color: transparent;
    transform: rotateX(40deg);
  }
  92% {
    color: #fff;
  }
  100% {
    color: #fff;
  }
}
@keyframes rotate-birth-year-2 {
  0% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
  4% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
  44% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    bottom: 58%;
    color: transparent;
    transform: rotateX(40deg);
  }
  52% {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    bottom: 58%;
    color: transparent;
    transform: rotateX(40deg);
  }
  92% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
  100% {
    -webkit-text-stroke-color: #888;
    bottom: 59%;
    color: #888;
  }
}
@font-face {
  font-family: "Noto Sans Syriac Western";
  font-weight: 100 900;
  src: url("../../fonts/NotoSansSyriacWestern[wght].ttf") format("truetype");
}
body {
  background-color: rgb(28, 28, 30);
  color: rgb(221, 221, 232);
  margin: 0 auto 100px;
  max-width: 600px;
}

#mau-chart-container {
  height: 350px;
  margin: 0 20px;
  position: relative;
}
@media screen and (width <= 600px) {
  #mau-chart-container {
    height: 58.3333333333vw;
  }
}

#img-container,
#headshot-container {
  position: relative;
}

#headshot-container {
  z-index: 2;
}
@media screen and (width > 600px) {
  #headshot-container #headshot {
    border-radius: 16px;
  }
}

#pier,
#silhouette,
#headshot {
  display: block;
  height: 100%;
  width: 100%;
}

#pier {
  filter: blur(1px) grayscale(0) saturate(110%) contrast(110%) brightness(1.2);
}

#silhouette {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 2;
}

#my-name,
.birth-year,
#symbol,
#song-title {
  line-height: 1.15;
}

#my-name {
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-family: "Noto Sans Syriac Eastern";
  font-size: 110px;
  font-weight: 900;
  position: absolute;
  right: 8%;
  top: 6%;
}
@media screen and (width <= 600px) {
  #my-name {
    font-size: 18.3333333333vw;
  }
}
@media screen and (width <= 480px) {
  #my-name {
    -webkit-text-stroke-width: 0.5208333333vw;
  }
}

.birth-year {
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-family: "Noto Sans Syriac Eastern";
  font-size: 80px;
  font-weight: 800;
  position: absolute;
  right: 8%;
}
@media screen and (width <= 600px) {
  .birth-year {
    font-size: 13.3333333333vw;
  }
}

#birth-year-1 {
  color: #fff;
  -webkit-text-stroke-color: white;
  bottom: 59%;
  z-index: 1;
}

#birth-year-2 {
  -webkit-text-stroke-color: #888;
  bottom: 59%;
  color: #888;
}

#symbol {
  text-shadow: 0 0 10px rgba(0, 255, 242, 0.25), 0 0 20px rgba(0, 255, 242, 0.25), 0 0 30px rgba(0, 255, 242, 0.25), 0 0 40px rgba(0, 255, 242, 0.25), 0 0 50px rgba(0, 255, 242, 0.25), 0 0 60px rgba(0, 255, 242, 0.25), 0 0 70px rgba(0, 255, 242, 0.25), 0 0 80px rgba(0, 255, 242, 0.25), 0 0 90px rgba(0, 255, 242, 0.25), 0 0 100px rgba(0, 255, 242, 0.25), 0 0 110px rgba(0, 255, 242, 0.25), 0 0 120px rgba(0, 255, 242, 0.25), 0 0 130px rgba(0, 255, 242, 0.25), 0 0 140px rgba(0, 255, 242, 0.25), 0 0 150px rgba(0, 255, 242, 0.25), 0 0 160px rgba(0, 255, 242, 0.25), 0 0 1px #00fff2, 0 0 1px #00fff2, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 3px #00fff2, 0 0 3px #00fff2, 0 0 4px #00fff2, 0 0 4px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 6px #00fff2;
  bottom: 28%;
  color: black;
  font-family: "Noto Sans Syriac";
  font-size: 50px;
  font-weight: 500;
  left: 34%;
  position: absolute;
  transform: rotate(-8deg);
  z-index: 3;
}
@media screen and (width <= 600px) {
  #symbol {
    font-size: 8.3333333333vw;
  }
}

#song-title {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1486956522), 0 2px 0 rgba(255, 255, 255, 0.1473913043), 0 3px 0 rgba(255, 255, 255, 0.1460869565), 0 4px 0 rgba(255, 255, 255, 0.1447826087), 0 5px 0 rgba(255, 255, 255, 0.1434782609), 0 6px 0 rgba(255, 255, 255, 0.142173913), 0 7px 0 rgba(255, 255, 255, 0.1408695652), 0 8px 0 rgba(255, 255, 255, 0.1395652174), 0 9px 0 rgba(255, 255, 255, 0.1382608696), 0 10px 0 rgba(255, 255, 255, 0.1369565217), 0 11px 0 rgba(255, 255, 255, 0.1356521739), 0 12px 0 rgba(255, 255, 255, 0.1343478261), 0 13px 0 rgba(255, 255, 255, 0.1330434783), 0 14px 0 rgba(255, 255, 255, 0.1317391304), 0 15px 0 rgba(255, 255, 255, 0.1304347826), 0 16px 0 rgba(255, 255, 255, 0.1291304348), 0 17px 0 rgba(255, 255, 255, 0.127826087), 0 18px 0 rgba(255, 255, 255, 0.1265217391), 0 19px 0 rgba(255, 255, 255, 0.1252173913), 0 20px 0 rgba(255, 255, 255, 0.1239130435), 0 21px 0 rgba(255, 255, 255, 0.1226086957), 0 22px 0 rgba(255, 255, 255, 0.1213043478), 0 23px 0 rgba(255, 255, 255, 0.12), 0 24px 0 rgba(255, 255, 255, 0.1186956522), 0 25px 0 rgba(255, 255, 255, 0.1173913043), 0 26px 0 rgba(255, 255, 255, 0.1160869565), 0 27px 0 rgba(255, 255, 255, 0.1147826087), 0 28px 0 rgba(255, 255, 255, 0.1134782609), 0 29px 0 rgba(255, 255, 255, 0.112173913), 0 30px 0 rgba(255, 255, 255, 0.1108695652), 0 31px 0 rgba(255, 255, 255, 0.1095652174), 0 32px 0 rgba(255, 255, 255, 0.1082608696), 0 33px 0 rgba(255, 255, 255, 0.1069565217), 0 34px 0 rgba(255, 255, 255, 0.1056521739), 0 35px 0 rgba(255, 255, 255, 0.1043478261), 0 36px 0 rgba(255, 255, 255, 0.1030434783), 0 37px 0 rgba(255, 255, 255, 0.1017391304), 0 38px 0 rgba(255, 255, 255, 0.1004347826), 0 39px 0 rgba(255, 255, 255, 0.0991304348), 0 40px 0 rgba(255, 255, 255, 0.097826087), 0 41px 0 rgba(255, 255, 255, 0.0965217391), 0 42px 0 rgba(255, 255, 255, 0.0952173913), 0 43px 0 rgba(255, 255, 255, 0.0939130435), 0 44px 0 rgba(255, 255, 255, 0.0926086957), 0 45px 0 rgba(255, 255, 255, 0.0913043478), 0 46px 0 rgba(255, 255, 255, 0.09), 0 47px 0 rgba(255, 255, 255, 0.0886956522), 0 48px 0 rgba(255, 255, 255, 0.0873913043), 0 49px 0 rgba(255, 255, 255, 0.0860869565), 0 50px 0 rgba(255, 255, 255, 0.0847826087), 0 51px 0 rgba(255, 255, 255, 0.0834782609), 0 52px 0 rgba(255, 255, 255, 0.082173913), 0 53px 0 rgba(255, 255, 255, 0.0808695652), 0 54px 0 rgba(255, 255, 255, 0.0795652174), 0 55px 0 rgba(255, 255, 255, 0.0782608696), 0 56px 0 rgba(255, 255, 255, 0.0769565217), 0 57px 0 rgba(255, 255, 255, 0.0756521739), 0 58px 0 rgba(255, 255, 255, 0.0743478261), 0 59px 0 rgba(255, 255, 255, 0.0730434783), 0 60px 0 rgba(255, 255, 255, 0.0717391304), 0 61px 0 rgba(255, 255, 255, 0.0704347826), 0 62px 0 rgba(255, 255, 255, 0.0691304348), 0 63px 0 rgba(255, 255, 255, 0.067826087), 0 64px 0 rgba(255, 255, 255, 0.0665217391), 0 65px 0 rgba(255, 255, 255, 0.0652173913), 0 66px 0 rgba(255, 255, 255, 0.0639130435), 0 67px 0 rgba(255, 255, 255, 0.0626086957), 0 68px 0 rgba(255, 255, 255, 0.0613043478), 0 69px 0 rgba(255, 255, 255, 0.06), 0 70px 0 rgba(255, 255, 255, 0.0586956522), 0 71px 0 rgba(255, 255, 255, 0.0573913043), 0 72px 0 rgba(255, 255, 255, 0.0560869565), 0 73px 0 rgba(255, 255, 255, 0.0547826087), 0 74px 0 rgba(255, 255, 255, 0.0534782609), 0 75px 0 rgba(255, 255, 255, 0.052173913), 0 76px 0 rgba(255, 255, 255, 0.0508695652), 0 77px 0 rgba(255, 255, 255, 0.0495652174), 0 78px 0 rgba(255, 255, 255, 0.0482608696), 0 79px 0 rgba(255, 255, 255, 0.0469565217), 0 80px 0 rgba(255, 255, 255, 0.0456521739), 0 81px 0 rgba(255, 255, 255, 0.0443478261), 0 82px 0 rgba(255, 255, 255, 0.0430434783), 0 83px 0 rgba(255, 255, 255, 0.0417391304), 0 84px 0 rgba(255, 255, 255, 0.0404347826), 0 85px 0 rgba(255, 255, 255, 0.0391304348), 0 86px 0 rgba(255, 255, 255, 0.037826087), 0 87px 0 rgba(255, 255, 255, 0.0365217391), 0 88px 0 rgba(255, 255, 255, 0.0352173913), 0 89px 0 rgba(255, 255, 255, 0.0339130435), 0 90px 0 rgba(255, 255, 255, 0.0326086957), 0 91px 0 rgba(255, 255, 255, 0.0313043478), 0 92px 0 rgba(255, 255, 255, 0.03), 0 93px 0 rgba(255, 255, 255, 0.0286956522), 0 94px 0 rgba(255, 255, 255, 0.0273913043), 0 95px 0 rgba(255, 255, 255, 0.0260869565), 0 96px 0 rgba(255, 255, 255, 0.0247826087), 0 97px 0 rgba(255, 255, 255, 0.0234782609), 0 98px 0 rgba(255, 255, 255, 0.022173913), 0 99px 0 rgba(255, 255, 255, 0.0208695652), 0 100px 0 rgba(255, 255, 255, 0.0195652174), 0 101px 0 rgba(255, 255, 255, 0.0182608696), 0 102px 0 rgba(255, 255, 255, 0.0169565217), 0 103px 0 rgba(255, 255, 255, 0.0156521739), 0 104px 0 rgba(255, 255, 255, 0.0143478261), 0 105px 0 rgba(255, 255, 255, 0.0130434783), 0 106px 0 rgba(255, 255, 255, 0.0117391304), 0 107px 0 rgba(255, 255, 255, 0.0104347826), 0 108px 0 rgba(255, 255, 255, 0.0091304348), 0 109px 0 rgba(255, 255, 255, 0.007826087), 0 110px 0 rgba(255, 255, 255, 0.0065217391), 0 111px 0 rgba(255, 255, 255, 0.0052173913), 0 112px 0 rgba(255, 255, 255, 0.0039130435), 0 113px 0 rgba(255, 255, 255, 0.0026086957), 0 114px 0 rgba(255, 255, 255, 0.0013043478), 0 115px 0 rgba(255, 255, 255, 0);
  bottom: 23%;
  color: white;
  font-family: "Noto Sans Syriac Eastern";
  font-size: 33px;
  font-weight: 300;
  position: absolute;
  right: 8%;
  transform: perspective(330px) rotateY(20deg);
  transform-origin: right;
  z-index: 1;
}
@media screen and (width <= 600px) {
  #song-title {
    font-size: 5.5vw;
    transform: perspective(55vw) rotateY(20deg);
  }
}

#img-caption,
#headshot-caption {
  left: 0;
  position: absolute;
}

#img-caption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 12px;
  bottom: 0;
  color: white;
  margin: 0 0 8px 16px;
  text-shadow: black 1px 1px 3px;
  z-index: 3;
}

#headshot-caption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 12px;
  color: black;
  margin: 8px 0 0 16px;
  text-shadow: rgba(255, 255, 255, 0.6) 0 0 2px;
  top: 0;
}

.section-container {
  margin: 32px 20px;
  position: relative;
}

.section-container-short {
  margin: 32px 20px 24px;
  position: relative;
}

.section-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  font-size: 28px;
  color: rgb(122.5, 122.5, 132.5);
  padding-bottom: 4px;
}

.section-body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  color: rgb(221, 221, 232);
}

ul {
  margin: 2px 0;
}
ul li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
}
ul li .tr {
  font-style: italic;
}

.ul-inline {
  display: inline;
  padding: 0;
}
.ul-inline > li {
  display: inline;
}
.ul-inline > li::before {
  content: " ⸱ ";
}

a {
  color: rgb(133, 177, 255);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: rgb(133, 177, 255);
  }
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(186, 159, 239);
}
@media (prefers-color-scheme: dark) {
  a:visited {
    color: rgb(186, 159, 239);
  }
}
a:active {
  color: rgb(188, 90, 0);
}
@media (prefers-color-scheme: dark) {
  a:active {
    color: rgb(188, 90, 0);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  #pier {
    animation: blur-img 2s steps(6, end) -0.2s infinite;
  }
  #my-name {
    animation: oscillate-title 2s ease-in-out infinite, my-name-stroke 2s steps(6, end) -0.2s infinite;
  }
  #symbol {
    animation: glow-symbol 2s steps(6, end) -0.2s infinite;
  }
  #birth-year-1 {
    animation: rotate-birth-year-1 2s steps(6, end) -0.2s infinite;
  }
  #birth-year-2 {
    animation: rotate-birth-year-2 2s steps(6, end) -0.2s infinite;
  }
  #song-title {
    animation: perspectivize-lyric 2s steps(6, end) -0.2s infinite;
  }
}

/*# sourceMappingURL=style.css.map */
