@use 'sass:color'
@use 'sass:list'
// sass-lint:disable no-ids
// sass-lint:disable force-pseudo-nesting
// sass-lint:disable no-mergeable-selectors
// sass-lint:disable no-vendor-prefixes

@use '../../shared_sass/colors' as *
@use '../../shared_sass/mixins' as *
@use '../../shared_sass/styles' as *
@use '../../shared_sass/symbols' as *

$key-color: #fd7b13
$side-padding: 16px

$symbol-width: 24px
$symbol-padding: calc($symbol-width/2)
$symbol-width-with-padding: $symbol-width + 2 * $symbol-padding

$max-width: 768px
$lightness-adjust: -8%
$border-radius: 16px

body
  background-color: $secondary-background
  @media (prefers-color-scheme: dark)
    background-color: $secondary-background-dark
  margin: 0 auto 50px
  max-width: $max-width

#title
  @include syrc-header($key-color)

#subtitle
  @include subtitle($key-color)

#syrc-error-msg
  @include eng-text('s', 400)
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark
  text-align: right

  &:empty::after
    content: '\200B'

#syrc-error-msg,
#typo-caption
  padding: calc($side-padding/2) $side-padding

#typo-caption
  @include eng-text('s')

#syrc,
#rand-sentence-button,
#syrc-btn-group,
#latin-btn-group,
#latin
  background-color: $background
  @media (prefers-color-scheme: dark)
    background-color: $background-dark


#rand-sentence-button
  @include eng-text('s', 400)
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark
  padding: 0 $side-padding 6px

  &:empty::after
    content: '🎲 generate random sentence'

.aii-bible-backlink
  text-decoration: underline

.btn-group
  column-gap: 6px
  display: flex
  flex-wrap: wrap
  row-gap: $side-padding // sass-lint:disable-line no-misspelled-properties

#roll-dice-aii
  .writing-system
    @include aii-text('s', 500)

#roll-dice-tru
  .writing-system
    @include tru-text('s', 500)


#syrc-btn-group
  align-items: flex-end // so dialect dropdown doesn't take whole height and also expands to next row on mobile
  border-bottom: 1px solid $separator
  @media (prefers-color-scheme: dark)
    border-bottom: 1px solid $separator-dark
  flex-direction: row
  padding: 0 $side-padding $side-padding

  button
    background-color: $key-color
    color: $background
    @media (prefers-color-scheme: dark)
      color: $background-dark

    padding: 6px 10px

    // https://stackoverflow.com/a/64553121
    // we only run this on desktop since hover on mobile lingers after tapping
    @media (hover: hover) and (pointer: fine)
      &:hover
        background-color: color.adjust($key-color, $lightness: $lightness-adjust)
        @media (prefers-color-scheme: dark)
          background-color: color.adjust($key-color, $lightness: -$lightness-adjust)



    &:active
      background-color: color.adjust($key-color, $lightness: $lightness-adjust * 1.55)
      @media (prefers-color-scheme: dark)
        background-color: color.adjust($key-color, $lightness: -$lightness-adjust * 1.55)


    &:disabled
      background-color: rgba($key-color, .65)
      @media (prefers-color-scheme: dark)
        background-color: rgba($key-color, .4)
      pointer-events: none


#latin-btn-group
  flex-direction: row-reverse
  padding: $side-padding

  button
    background-color: $secondary-background
    color: $label
    @media (prefers-color-scheme: dark)
      background-color: $secondary-background-dark
      color: $label-dark
    padding: 10px 16px

    &:hover
      background-color: color.adjust($secondary-background, $lightness: $lightness-adjust * .75)
      @media (prefers-color-scheme: dark)
        background-color: color.adjust($secondary-background-dark, $lightness: -$lightness-adjust * .75)


    &:active
      background-color: color.adjust($secondary-background, $lightness: $lightness-adjust * 1.25)
      @media (prefers-color-scheme: dark)
        background-color: color.adjust($secondary-background-dark, $lightness: -$lightness-adjust * 1.25)


    &.active
      background-color: $background-dark
      color: $background
      cursor: default
      @media (prefers-color-scheme: dark)
        background-color: $secondary-background
        color: $background-dark


// https://getcssscan.com/css-buttons-examples
.btn
  @include eng-text('s', 500)
  -webkit-tap-highlight-color: transparent // prevent flicker when tapping on phone
  border: 0
  border-radius: 8px
  cursor: pointer
  position: relative
  text-align: center
  touch-action: manipulation

  $duration: .1s
  transition: color $duration, background-color $duration


$min-height: 110px

#syrc,
#latin
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark
  resize: none

  &:focus
    outline: none

#syrc
  min-height: 110px + $side-padding // should be greater than height with number of rows of textarea

#latin
  min-height: 110px // should be greater than height with number of rows of textarea

$border-width: 2px

#syrc
  border: 0
  border-radius: 0
  @media screen and (width > $max-width)
    border-top-left-radius: $border-radius
    border-top-right-radius: $border-radius
  box-sizing: border-box // combined with 100% width so textare doesn't stretch outside parent container
  padding: $side-padding $side-padding $side-padding $symbol-width-with-padding
  vertical-align: top // removes extra space under textarea in some browsers, per https://stackoverflow.com/a/7144960
  width: 100%


.syrc-text
  @include aii-text('l')

  &.suryoyo
    @include tru-text('l')


#syrc-dialect
  @include eng-text('s')
  margin-left: auto  // https://stackoverflow.com/a/33924704

#latin
  @include eng-text('l', $is-translit: true)
  // default sans-serif font improves readability for stuff like
  // plīʿā in mark 3:26
  // otherwise the modifier letter left half ring blends into the macron of ī
  font-family: sans-serif
  overflow-wrap: break-word
  padding: 0 $symbol-width-with-padding $side-padding $side-padding
  white-space: pre-wrap // to preserve newlines


  &:empty:not(:focus)::before
    color: $label
    @media (prefers-color-scheme: dark)
      color: $label-dark
    content: attr(data-placeholder)
    font-style: normal

  @media screen and (width > $max-width)
    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius


#typo-caption
  display: flex
  flex-direction: column

  &.ul-gap
    gap: $side-padding // sass-lint:disable-line no-misspelled-properties

  ul
    // https://stackoverflow.com/a/69591701
    display: flex
    flex-direction: column
    gap: calc($side-padding/2) // sass-lint:disable-line no-misspelled-properties
    list-style-type: none
    margin: 0
    padding: 0

// inspired by https://stackoverflow.com/a/32587571
.typo-circle,
.typo-small-circle
  border-radius: 50%


.typo-circle::before,
.typo-circle::after,
.typo-small-circle::before,
.typo-small-circle::after
  content: '\200C' // U+200C ZERO WIDTH NON-JOINER

.typo-circle::before
  padding-left: 5px

.typo-circle::after
  padding-right: 5px

.typo-small-circle::before
  padding-left: 4px

.typo-small-circle::after
  padding-right: 4px

@mixin color-typos($color)
  background-color: rgba($color, .05)
  @media (prefers-color-scheme: dark)
    background-color: rgba($color, .2)
  border: 2px dotted rgba($color, .7)


.bottom-mark
  @include color-typos($key-color)

.top-mark
  // dodgerblue
  @include color-typos(#1e90ff)

  // deeppink
.other-mark
  @include color-typos(#ff1493)

#bottom-mark-caption,
#top-mark-caption,
#other-mark-caption
  @include eng-text('s')
  color: $label
  @media (prefers-color-scheme: dark)
    color: $label-dark
  display: none

#top-mark-caption
  .caption-text:empty::after
    content: '\00a0rwakha, qushaya, tipah used interchangeably?'

  .using-suryoyo
    &.caption-text:empty::after
      content: '\00a0 express cṣoṣo and ḥboṣo with waw and yuḏ respectively'

#aii-orthography,
#tru-orthography
  @include eng-text('s')
  color: $label
  display: none
  @media (prefers-color-scheme: dark)
    color: $label-dark
  padding: calc($side-padding/2) $side-padding


//////////////////////////
// copy & clear text icons
//////////////////////////
#syrc-container,
#latin-container
  position: relative

#clear-text,
#copy-text
  -webkit-tap-highlight-color: transparent // prevent flicker when tapping on phone
  color: $secondary-label
  @media (prefers-color-scheme: dark)
    color: $secondary-label-dark
  cursor: pointer
  display: none
  font-size: $symbol-width
  padding: $symbol-padding
  position: absolute

#clear-text
  left: 0
  top: 0

#copy-text
  bottom: 0
  right: 0




