@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=check,chevron_left,chevron_right,close,collapse_content,content_copy,keyboard_arrow_down,keyboard_arrow_right,pause,play_arrow,volume_up");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Eastern:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
@font-face {
  font-family: "Noto Sans Syriac Western";
  font-weight: 100 900;
  src: url("../../fonts/NotoSansSyriacWestern[wght].ttf") format("truetype");
}
#bible-promotion-container,
.aii-verse,
.aii-tr,
.eng-verse,
.translation-caption {
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #bible-promotion-container,
  .aii-verse,
  .aii-tr,
  .eng-verse,
  .translation-caption {
    color: rgb(221, 221, 232);
  }
}

.highlighted {
  color: rgb(240, 0, 0);
}
@media (prefers-color-scheme: dark) {
  .highlighted {
    color: #ff2424;
  }
}

.highlighted2 {
  text-decoration-color: rgb(240, 0, 0) !important;
}
@media (prefers-color-scheme: dark) {
  .highlighted2 {
    text-decoration-color: #ff2424 !important;
  }
}

#bible-promotion-container {
  text-align: right;
}

body {
  background-color: rgb(242, 242, 247);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(28, 28, 30);
  }
}

a {
  color: rgb(51, 102, 204);
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: rgb(133, 177, 255);
  }
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(121, 92, 178);
}
@media (prefers-color-scheme: dark) {
  a:visited {
    color: rgb(186, 159, 239);
  }
}
a:active {
  color: orange;
}
@media (prefers-color-scheme: dark) {
  a:active {
    color: rgb(188, 90, 0);
  }
}

#clear-text {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #clear-text {
    color: rgb(149, 149, 157);
  }
}

#autofocus-tip-container {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #autofocus-tip-container {
    color: rgb(149, 149, 157);
  }
}

kbd {
  background-color: rgb(242, 242, 247);
  border-color: rgba(91, 91, 96, 0.29);
  box-shadow: 0 1px 1px rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  kbd {
    background-color: rgb(28, 28, 30);
    border-color: rgb(122.5, 122.5, 132.5);
    box-shadow: 0 1px 1px rgb(122.5, 122.5, 132.5);
    color: rgb(221, 221, 232);
  }
}

#searchbar {
  background-color: #fff;
  border-color: rgba(91, 91, 96, 0.29);
  color: rgb(28, 28, 30);
}
@media (prefers-color-scheme: dark) {
  #searchbar {
    background-color: rgb(54, 54, 57);
    border-color: rgb(54, 54, 57);
    color: rgb(221, 221, 232);
  }
}
#searchbar::placeholder {
  color: rgb(134, 134, 137);
}
@media (prefers-color-scheme: dark) {
  #searchbar::placeholder {
    color: rgb(149, 149, 157);
  }
}
#searchbar:focus {
  border: 1px solid rgb(51, 102, 204);
}
@media (prefers-color-scheme: dark) {
  #searchbar:focus {
    border: 1px solid rgb(133, 177, 255);
  }
}

body {
  margin: 0 auto 50px;
}

#title {
  -webkit-text-stroke-color: rgb(240, 0, 0);
  -webkit-text-stroke-width: 3px;
  color: transparent;
  direction: rtl;
  font-family: "Noto Sans Syriac";
  font-size: 90px;
  font-weight: 900;
  line-height: 1;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #title {
    -webkit-text-stroke-width: 0.390625vw;
    font-size: 11.71875vw;
    margin-top: 6.5104166667vw;
  }
}
@media screen and (max-width: 480px) {
  #title {
    -webkit-text-stroke-width: 0.5208333333vw;
  }
}

#subtitle {
  color: rgb(240, 0, 0);
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-top: -18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #subtitle {
    font-size: calc(12px + 2.6041666667vw);
    margin-top: -2.34375vw;
  }
}
@media screen and (max-width: 480px) {
  #subtitle {
    font-weight: 400;
  }
}

#created-by-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #created-by-container {
    color: rgb(221, 221, 232);
  }
}

#backlink-promotion-container {
  color: rgb(28, 28, 30);
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  #backlink-promotion-container {
    color: rgb(221, 221, 232);
  }
}

.webapp-backlink-meta {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.webapp-backlink-href {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.creator-backlink-href {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  text-decoration: underline;
}

#app-container {
  margin: 0 auto;
  max-width: 600px;
}

#searchbar-container {
  margin: 32px 16px 8px;
  position: relative;
}

#clear-text {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  font-size: 24px;
  padding: 12px 12px 12px 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#clear-text.clear-aii-text {
  left: 0;
  padding: 12px 12px 12px 12px;
  right: auto;
}

#autofocus-tip-container {
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
  pointer-events: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (width <= 1011px) {
  #autofocus-tip-container {
    display: none !important;
  }
}

kbd {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-weight: 700;
  padding: 2px 4px;
}

#searchbar {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 16.8px;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  direction: ltr;
  display: block;
  line-height: 2;
  outline: 0;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 46px;
  padding-top: 6px;
  width: 100%;
}
#searchbar.aii-search-text {
  direction: rtl;
  padding-left: 46px;
  padding-right: 16px;
  text-indent: 4px;
}

#search-results {
  padding: 16px 16px;
}

.search-result {
  padding-top: 16px;
}

.verse-meta {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 22.4px;
  margin-bottom: 0;
  margin-top: 16px;
  text-align: right;
}

.highlighted {
  font-weight: 500;
}

.highlighted2 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.aii-verse,
.aii-tr,
.eng-verse {
  margin-bottom: 4px;
}

.aii-verse {
  direction: rtl;
  font-family: "Noto Sans Syriac Eastern";
  font-weight: 400;
  line-height: 1.4;
  font-size: 22.4px;
  text-align: right;
}

.aii-tr {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 16px;
}

.tr-backlink-container {
  font-style: normal;
  margin-top: -6px;
  padding-bottom: 6px;
}

.translation-caption {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  margin-top: -2px;
}

.eng-verse {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
.eng-verse.missing-verse {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}
.eng-verse.missing-verse::before {
  content: "(NLT Translation not available)";
}

#copyright-container {
  margin: 24px 16px;
}
#copyright-container .copyright {
  font-weight: 400;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: rgb(134, 134, 137);
  margin-bottom: 6px;
}
@media (prefers-color-scheme: dark) {
  #copyright-container .copyright {
    color: rgb(149, 149, 157);
  }
}
#copyright-container .copyright .emphasis-bible {
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
